.hero.is-primary.is-bold {
  background: #191919 !important;
}

body {
  background-color: #191919 !important;
}

.container.buttnav {
  background-color: #272727;
  border: 1px solid #1d1d1d;
  -webkit-box-shadow: 0 0 black;
          box-shadow: 0 0 black;
}

.homeSearch {
  background-color: #272324;
  border: 1px solid #2b2b2b;
}

.loginDiv {
  background-color: #272727 !important;
  border: 1px solid #1d1d1d  !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.loginDiv .start-exam-modal div {
  background-color: #272727 !important;
  border: 1px solid #1d1d1d  !important;
  -webkit-box-shadow: 0 0 15px #191919;
          box-shadow: 0 0 15px #191919;
}

.loginDiv .show_title {
  background-color: #191919;
  color: #9b9b9b;
}

.loginDiv .show_li {
  background-color: #272727 !important;
  border-color: #191919 !important;
  color: #ccc !important;
}

.loginDiv input,
.loginDiv select {
  background-color: #191919 !important;
  -webkit-box-shadow: 2px 3px black !important;
          box-shadow: 2px 3px black !important;
  border: 1px solid #000 !important;
}

.homeSearch:hover,
.homeSearch:focus {
  border: 1px solid #2b2b2b;
}

.searchButtField button.is-primary {
  background-color: #1f1f1f;
  border: 1px solid #1d1d1d;
}

.searchButtField button.is-primary:hover {
  border-color: #1f1f1f;
  background-color: #272324;
}

.card {
  -webkit-box-shadow: 0px 8px 20px #000 !important;
          box-shadow: 0px 8px 20px #000 !important;
}

hr {
  background: #484848 !important;
}

