<template lang="html">

  <div class="root full-replies-page-root">
    <h3 class="p-r-15 p-t-15" dir="rtl"> <router-link :to="$store.getters.last_route"> عودة </router-link> | {{ $route.params.title }} </h3>
    <hr>
    <div class="container questions-container show-question-container" dir="rtl">
      <div class="columns is-mobile is-multiline">
        <div class="column is-12 chain">

            <!--<f-reply v-if="update" :counter="-1" :questionId="$route.params.id" :question_title="this.$route.params.title.replace('/\-/g','\s')" :commentId="$route.params.comment_id"></f-reply>
            -->
          <f-reply v-if="update" :counter="-1" :questionId="$route.params.id" :commentId="$route.params.commentid" :question_title="$route.params.title"></f-reply>

        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  data(){
    return {
        update: true
    }
  },
  beforeUpdate(){
    this.update = false;
    setTimeout(()=>{
      this.update = true;
    },5);
  }

}
</script>
