<template lang="html">
  <div class="root">
    <nav-component></nav-component>
    <br><br><br><br><br><br>

    <div class="container">
      <div class="columns">
        <div class="column loginDiv is-8 m-r-l-12">
          <div class="columns is-multiline">
            <span v-if="$store.getters.user.reputation < 50" style="
                padding: 6px 19px;
                background-color: #f1ed7d;
                border-radius: 3px;
                text-align:  center;
                margin: auto;
                width: 80%;
            "> أكتب بالعربية الفصحى </span>
            <div class="column is-12 post-label">
              <label> العنوان: </label>
            </div>
            <div class="column is-12 m-t-0 p-t-0">
              <input placeholder="مثلا: لدي مشكلة في تثبيت البرنامج..." type="text" v-model="title">
            </div>

            <div class="column is-12">
              <!-- category -->
              <b-field
                  label="التصنيف">
                  <b-select v-model="selected_category" class="select-cat" placeholder="تصنيف" expanded>
                      <option v-for="cat in this.$store.getters.categories_in_dropdown.concat(this.$store.getters.categories)" :value="cat.id">{{ cat.category }}</option>
                  </b-select>
              </b-field>
              <!-- <category-selector @select_category="assignCategory" label="التصنيف" placeholder="مثلا: php, java, حاسوب..."></category-selector> -->
            </div>
            <div class="column is-12 post-label m-t-25">
              <label> النص: </label>
            </div>
            <div class="column is-12 p-t-0 m-t-0">
              <div ref="QuillArea"></div>
            </div>

            <div class="column is-12">
              <button class="button is-primary m-t-60" ref="submitBTN" @click="sendToDB();"> إرسال </button>
            </div>

          </div>
        </div>

        <div class="column is-4 p-t-0">
          <div class="clumns is-multiline">

            <div class="column loginDiv is-12">
              <Quill-bubble-show :topic="rules"></Quill-bubble-show>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
// qùmsdlùm
// require('quill/dist/quill.snow.css');
// var Quill = require('quill/dist/quill.min.js');
var quill;
var quill_1;
export default {

  data(){
    return {
        title: '',
        selected_category: null,
        quill,
        rules : null
    }
  },

  mounted(){

    // hljs.initHighlightingOnLoad();
    quill = new Quill(this.$refs.QuillArea, {
      modules: {
        syntax: true,
        toolbar: [
          [{ header: [1, 2, false] }],
          ['bold'], //'italic', 'underline'
          ['code-block','blockquote'],
          ['link']
        ],
      },
      theme: 'snow',
      formats : [
        'background',
        'bold',
        'color',
        'font',
        'code',
        'italic',
        'link',
        'size',
        'strike',
        'script',
        'underline',
        'blockquote',
        'header',
        'indent',
        'list',
        'align',
        'direction',
        'code-block',
        'formula'
        // 'image'
        // 'video'
      ]
    });
    this.quill = quill;
    this.getData();
    NProgress.done();
  },

  methods : {
    getData(){
      axios.get('/get-posting-rules')
        .then(res => {
          this.rules = res.data.posting_rules;
          // console.log(JSON.parse(res.data.instructions_of_use));
          // this.quill.setContents(res.data);
        });
    },
    sendToDB(){

      if(quill.getText().length < 2){
        quill.setText(this.title);
      }

      this.$dialog.confirm({
          title: ' عملية الإرسال ',
          message: ' هل قمت بمراجعة المحتوى الذي تود مشاركته ؟ ',
          confirmText: ' نعم ',
          cancelText:'إلغاء ',
          type: 'is-primary',
          hasIcon: false,
          onConfirm: () => {
            this.$refs.submitBTN.className='button is-primary m-t-60 is-loading';
            axios.post('/post_a_question',{
              title : this.title,
              category_id : this.selected_category,
              topic: JSON.stringify(quill.getContents()),
              topic_text: quill.getText()
            }).then(res => {
                this.$router.push('/questions/'+res.data+'/'+this.title.replace(/[\/\\\s]/g,'-'));
              })
              .catch(err => {
                this.$refs.submitBTN.className='button is-primary m-t-60';
                this.$snackbar.open({
                    message: ' تأكد من ملئ العنوان، التصنيف و الموضوع ',
                    type: 'is-danger',
                    position: 'is-bottom',
                    actionText: 'إغلاق',
                    indefinite: true,
                    onAction: () => {
                        
                    }
                });
              });
          }
      })
    },
  }

}
</script>

<style lang="css">
</style>
