<template lang="html">
  <div class="root">
    <!-- <nav-component></nav-component>
    <br><br><br><br> -->

    <!-- <div class="container questions-container" dir="rtl"> -->
      <!-- contains left side and right side -->
      <div class="columns is-multiline questions-container" dir="rtl">

        <!-- loading spinner
        <div v-if="!questions.length" class="column is-12 waiting-for-somthing-big">
          <button class="button chain-loading is-large is-loading"></button>
        </div> -->

        <!-- contains questions -->
        <div v-if="questions.length" class="column is-12">
            <div class="columns is-multiline">
              <!-- question div -->
              <!-- <common-questions></common-questions> -->
              <div v-for="question in questions" :id="'question'+question.id" class="loginDiv questionBigCont m-b-10 column is-12">

                <div class="columns is-mobile columns-of-like-btn-and-content">
                    <!-- image -->
                    <div class="column is-1-desktop is-2-mobile" style="width:65px">
                      <like-btn-2 target_type="question" :user_id="question.user.id" :target_id="question.id" :value="question.likes"></like-btn-2>
                    </div>
                    <!-- <div class="column is-2">
                      <img :src="'https://www.gravatar.com/avatar/'+question.user.profile_img+'?d='+this.window.location.origin+'/images/default-user.png'">
                    </div> -->
                    <!-- title,username..etc -->
                    <div class="column is-11-desktop is-10-mobile">
                      <h1>
                        <router-link :to="{ name: 'showQuestion', params: { id : question.id, title: question.title.replace(/[\/\\\s]/g,'-')} }">
                          {{ question.title }}
                        </router-link>
                      </h1>

                      <user-comment-time @deletequestion="removeQuestion" :question_object="question"></user-comment-time>
                    </div>
                </div>

              </div>
              <br>
              <!-- <div v-if="questions.length" class="column is-12 text-center">
                <span class="button is-light" @click="getAllQuestions()"> المزيد </span>
              </div> -->

            </div>
        </div>

        <div class="column is-12">
          <div class="columns is-multiline">

            <!-- questions by category -->
            <div v-if="$route.name == 'category' && reopen_to_update" ref="loading" class="container infinite-div">
                <infinite-loading  spinner="waveDots" @infinite="getAllQuestionsByCategory"></infinite-loading>
                <span slot="no-results">
                  <span v-if="no_more_data" slot="no-results">
                    <div class="columns">
                      <div class="column is-5"></div>
                      <div class="column">
                        <span class="sectionLebel" font-size="20px;"> {{ $store.getters.lang.no_more_posts }} </span>
                        <router-link to="/questions/post"> {{ $store.getters.lang.write_somthing_message }} </router-link>
                      </div>
                      <div class="column is-5"></div>
                    </div>
                  </span>
                </span>
              </div>

              <!-- questions by user -->
              <div v-if="$route.name == 'user' && reopen_to_update" ref="loading" class="container infinite-div">
                <infinite-loading  spinner="waveDots" @infinite="getAllQuestionsByUser"></infinite-loading>
                <span slot="no-results">
                  <span v-if="no_more_data" slot="no-results">
                    <div class="columns">
                      <div class="column is-5"></div>
                      <div class="column">
                        <span class="sectionLebel" font-size="20px;"> {{ $store.getters.lang.no_more_posts }} </span>
                        <router-link to="/questions/post"> {{ $store.getters.lang.write_somthing_message }} </router-link>
                      </div>
                      <div class="column is-5"></div>
                    </div>
                  </span>
                </span>
              </div>

              <!-- all questions -->
              <div v-if="$route.name != 'category' && $route.name != 'user' && $store.getters.categories.length" ref="loading" class="container infinite-div">
                <infinite-loading spinner="waveDots" @infinite="getAllQuestions"></infinite-loading>
                <span slot="no-results">
                  <span v-if="no_more_data" slot="no-results">
                    <div class="columns">
                      <div class="column is-5"></div>
                      <div class="column">
                        <span class="sectionLebel" font-size="20px;">{{ $store.getters.lang.no_more_posts }}</span>
                        <router-link to="/questions/post"> {{ $store.getters.lang.write_somthing_message }} </router-link>
                      </div>
                      <div class="column is-5"></div>
                    </div>
                  </span>
                </span>
              </div>

              <div class="container text-center smallUnderlinedText m-b-20">
                <router-link dir="rtl" style="color:#3e3e3e" to="/categories/follow">
                  {{ $store.getters.lang.follow_categories_to_get_more_posts_message }}
                </router-link>
              </div>

          </div>
        </div>

        <!-- contains left side questions or exams -->
        <!-- <div class="column is-4">

        </div> -->

      </div>
    <!-- </div> -->

  </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';

export default {
  props: ['category_id','user_id'],

  data(){
    return {
      moment,
      questions: [],
      no_more_data: false,
      route: null,
      reopen_to_update: true,
    }
  },

  beforeUpdate(){
    if(this.$route.params.id != this.route && this.$route.name == 'category') {
      this.questions = [];
      window.scrollTo(0, 0);
      this.reopen_to_update = false;
      setTimeout(() => {
        this.reopen_to_update = true;
      }, 5);
      this.route = this.$route.params.id;
    }
  },

  methods: {
    getAllQuestions($state){
      let url = '/get_all_questions/';

      if(this.$store.getters.fromState_isAuth == '' || this.$store.getters.fromState_isAuth == false){
        url = '/get_all_questions_for_not_auth/';
      }

      axios.get(url+this.questions.length)
      .then(res => {
        if(!res.data.length){
          $state.complete();
          this.no_more_data = true;
        }else{
          this.questions = this.questions.concat(res.data);
          $state.loaded();
        }
        NProgress.done();
      })
      .catch(err => {
        // console.log(err);
        NProgress.done();
      });
    },

    getAllQuestionsByCategory($state){
      axios.get('/get_all_questions_by_category/'+this.questions.length+'/'+this.category_id)
      .then(res => {
        if(!res.data.length){
          $state.complete();
          this.no_more_data = true;
        }else{
          this.questions = this.questions.concat(res.data);
          $state.loaded();
        }
        NProgress.done();
      })
      .catch(err => {
        // console.log(err);
        NProgress.done();
      });
    },

    getAllQuestionsByUser($state){
      axios.get('/get_all_questions_by_user/'+this.questions.length+'/'+this.user_id)
      .then(res => {
        if(!res.data.length){
          $state.complete();
          this.no_more_data = true;
        }else{
          this.questions = this.questions.concat(res.data);
          $state.loaded();
        }
        NProgress.done();
      })
      .catch(err => {
        // console.log(err);
        NProgress.done();
      });
    },

    removeQuestion(id){
      document.getElementById('question'+id).style.display= 'none';
      this.$toast.open({
          duration: 5000,
          message: `تم حذف السؤال `,
          position: 'is-bottom',
          type: 'is-dark'
      })
    }
  },

  components: {
      InfiniteLoading,
  },

}
</script>

<style lang="css">
.card {

}
</style>
