<template lang="html">
  <div class="root">
    <nav-component></nav-component>
    <br><br><br><br>

    <div v-if="!$store.getters.user.id" class="container JoinDiv">
      <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-11 p-l-5 p-r-5 m-b-25 m-t-25">
              <div class="is-bold">
                  <p>
                    {{ language.show_question_top_join_text }}
                  </p>
                  <a href="/register" class="button is-dark"> {{ language.join_now }} </a>
              </div>
          </div>
      </div>
    </div>

    <div class="container questions-container show-question-container" dir="rtl">

      <div class="columns showPageContainer is-multiline">
        <!-- question div -->

        <div class="column is-1"></div>
        <!-- loading spinner -->
        <div v-if="question.user == undefined" class="column is-8 waiting-for-somthing-big">
          <button class="button chain-loading is-large is-loading"></button>
        </div>

        <!-- wait until question comes via axios request -->
        <div v-if="question.user != undefined" class="column is-8">
          <div class="columns is-multiline p-5" ref="question_section">
            <div class="column is-12 loginDiv m-b-0">
              <div class="columns in-multiline">
                <div v-if="window.innerWidth > 768" class="column is-12 comment-header is-relative" style="height:0px !important;border:0px;padding:0px;">
                  <like-btn target_type="question" :user_id="question.user.id" :target_id="question.id" :value="question.likes"></like-btn>
                </div>
                <!-- for mobile, tablet -->
                <div v-if="window.innerWidth <= 768" class="column is-12 is-hidden-desktop is-hidden-touche" style="height:0px !important;border:0px;padding:0px;">
                    <div class="columns is-multiline is-mobile">
                        <div class="column is-2 is-small-thing m-r-10">
                          <like-btn-2 target_type="question" :user_id="question.user.id" :target_id="question.id" :value="question.likes"></like-btn-2>
                        </div>
                    </div>
                </div>
              </div>
              <h1 v-if="window.innerWidth <= 768" class="m-r-50"> {{ question.title }}</h1>
              <h1 v-if="window.innerWidth > 768"> {{ question.title }}</h1>
              <div class="column is-12 p-0">
                <Quill-bubble-show :topic="question.topic"></Quill-bubble-show>
                <update-quill-content @changed="changequestiondata" v-if="$store.getters.user != undefined && $store.getters.user.id == question.user.id" :question_title="question.title" :category="question.category.id" :topic="question.topic"></update-quill-content>
              </div>
            </div>

            <div class="column is-12 m-20">
              <user-comment-time :question_object="question"></user-comment-time>
            </div>

            <div class="column is-12 p-0 m-t-10 m-b-10">
              <reply-box @commingresult="addcomment" :question_title="question.title" :questionId="question.id" :comment="{ id : 0, user:question.user ,  is_closed: 0, open_reply : 1 }"></reply-box>
            </div>
            <div v-if="comments_ready && !comments.length" class="column is-12">
              <span class="button is-static"> لا توجد إجابات </span>
            </div>
            <!-- comment div -->
            <div v-for="comment in comments" :id="'comment'+comment.id" v-if="comments_ready && comment.parent_comment_id == 0" ref="p_comment" class="column is-12 p-0">
              <div class="column is-12 loginDiv comment">
                <div class="columns is-multiline">

                  <!-- for tablet width and heigher -->
                  <div v-if="window.innerWidth >= 1024" class="column is-12 comment-header is-relative">
                      <like-btn target_type="comment" :user_id="comment.user.id" :target_id="comment.id" :value="comment.likes"></like-btn>

                      <img :src="'https://www.gravatar.com/avatar/'+comment.user.profile_img+'?d=https://i.suar.me/varoL/l'">
                      <user-comment-time :question_object="comment" hide_comments="true" hide_is_closed="true"></user-comment-time>
                  </div>
                  <!-- for mobile, tablet -->
                  <div v-if="window.innerWidth < 768" class="column is-12" style="border-bottom: 1px solid #eee;margin-bottom: 10px;">
                      <div class="columns is-multiline is-mobile">
                          <div class="column is-2 is-small-thing m-t-10">
                            <like-btn-2 target_type="comment" :user_id="comment.user.id" :target_id="comment.id" :value="comment.likes"></like-btn-2>
                          </div>
                          <img class="img-is-50" :src="'https://www.gravatar.com/avatar/'+comment.user.profile_img+'?d=https://i.suar.me/varoL/l'">
                          <user-comment-time class="p-l-5 m-t-10" hide_time="true" :question_object="comment" hide_comments="true" hide_is_closed="true"></user-comment-time>
                      </div>
                  </div>

                  <div class="column is-12">
                    <Quill-bubble-show :topic="comment.topic"></Quill-bubble-show>

                      <update-quill-content @changed="changecommentdata($event,comment.id)" v-if="$store.getters.user != undefined && $store.getters.user.id == comment.user.id" :topic="comment.topic" :comment_id="comment.id"></update-quill-content>

                  </div>
                  <!-- open the reply box -->
                  <div class="comment-footer column is-12">
                    <!-- -->
                    <!-- <close-open-target :user_id="comment.user.id" target_type="comment" :target_id="comment.id" :is_closed="comment.is_closed == 1"></close-open-target> -->
                    <strong>({{ comment.replies }})</strong>
                    <button v-if="$store.getters.user.id>0" :disabled="comment.is_closed == 1" @click="comment.open_reply = true" class="button is-default is-small">
                      <i class="fas fa-plus p-r-5 p-l-5"></i> إضافة رد
                    </button>
                  </div>

                </div>
              </div>
              <div class="column chain">
                <!-- reply  textarea-->
                <reply-box @commingresult="addcomment($event,comment.id);comment.replies++" :question_title="question.title" :questionId="question.id" :comment="comment"></reply-box>

                <!-- /// -->
                <f-reply :newcomment="new_comment" :counter="0" v-if="comment.replies > 0" :question_title="question.title" :questionId="question.id" :commentId="comment.id"></f-reply>

              </div>
              <!-- end chain -->
            </div>
            <same-category-question :category_id="question.category.id"></same-category-question>

          </div>

          <!-- a small thing in the end :) -->
          <div class="end-of-is-8">
            <!-- circle in the end -->
            <div></div>
          </div>

        </div>

        <div class="column is-3 is-hidden-mobile p-0">
          <div class="willBefixed1 p-5">
            <side-section-random-questions></side-section-random-questions>
            <maxim></maxim>
            <div v-if="ads != null" id="ads1" class="m-t-10" >
              <img style="border-radius:0px" :src="ads.ads1" />
            </div>
          </div>
        </div>

      </div>

    </div>
    <br><br>
  </div>
</template>

<script>
export default {
  data(){
    return {
      language : this.$store.getters.lang,
      window,
      origin_path : window.location.origin,
      question : {},
      new_comment: null,
      comments : [],
      n_comments: [],
      replies : [],
      // are comments ready to show, by default is false
      comments_ready : false,
      new_reply : {
        topic: '',
        question_id : 0,
        is_closed: 0,
        // number: 0,
        parent_comment_id: 0
      },
      ads: null
    }
  },
  beforeUpdate(){
    if(this.$route.params.id != this.route) {
      window.scrollTo(0, 0);
      this.route = this.$route.params.id;
      this.getQuestion();
    }
  },
  mounted(){
    this.route = this.$route.params.id;
    // get the current question
    this.getQuestion();
    this.getCurrentAds();
    new PrettyScroll('.willBefixed1', {
        container: '.showPageContainer',
        breakpoint: 1000, // stop running the js when the window size is smaller than 575px
        offsetTop: 80, // space between the sticky element and the top of the window
        offsetBottom: 20, // space between the sticky element and the bottom of the window
        condition: () => true // you can disable the sticky behavior by returning false, it will be executed when you scroll.
      });
  },

  methods: {

    getCurrentAds(){
      axios.get('/get-current-ads')
      .then(res => {
        this.ads = res.data[0]
      })
      .catch(err => {

      });
    },

    changequestiondata(object){
      this.question.title = object.title;
      this.question.topic = object.topic;
      this.question.category = object.category;
    },

    changecommentdata(object,id){
      for (var i = 0; i < this.comments.length; i++) {
        if(this.comments[i].id == id){
          this.comments[i].topic = object.topic;
        }
      }
    },

    getNewComment(object){
      this.new_comment = object;
    },

    addcomment(object,id){
      if(object.parent_comment_id != 0) {
        this.new_comment = object;//this.getNewComment(object);
      }else{
        this.comments.push(object);
        this.$router.push(this.$route.path+'#comment'+object.id);
      }
    },

    // get question
    getQuestion(){
      //
      axios.get('/questions/'+this.$route.params.id)
        .then(res => {
          // in case of the question is not exists
          if(res.data.length == 0) this.$router.push('/404-page-not-found');

          this.question = res.data[0];
          document.getElementsByTagName('meta')[3].content = res.data[0].topic;
          document.getElementsByTagName('meta')[5].content = res.data[0].user.name;
          // whether the title does not match the title param in the path
          // if(this.$route.params.title.replace(/[-\/\\\s^$*+?.()|[\]{}]/g,' ') != this.question.title) {
          //   this.$router.push('/questions/'+this.$route.params.id+'/'+this.question.title.replace(/[-\/\\\s^$*+?.()|[\]{}]/g,'-'));
          // }
          this.getComments();
        })
        .catch(err => {
        });
    },

    // get all comments
    getComments(){
      axios.get('/comments/'+this.question.id)
        .then(res => {

          // make an option to open/close the reply box
          for (var i = 0; i < res.data.length; i++) {
            res.data[i].open_reply = false;
            res.data[i].depth = 0;
          }
          this.comments = res.data;
          this.comments_ready = true;
          NProgress.done();
        })
        .catch(err => {
          //
        });
    },

    // send comment to database
    sendToDB(parent_comment_id){
      this.new_reply.parent_comment_id = parent_comment_id;
      this.new_reply.question_id = this.question.id;
      axios.post('/post_a_comment',this.new_reply)
      .then(res => {
        this.call_load_next_replies = true;
        this.all_comments.push(this.new_reply);
      })
      .catch(err => {
        //
      });
    },

    // pushNewComment: function(object){
    //   object.user = this.$store.getters.user;
    //   object.user_id = object.user.id;
    //   object.open_reply = false;
    //   object.is_closed = 0;
    //   object.likes = 0;
    //   object.replies = 0;
    //   object.question_id = this.question.id;
    //   object.created_at = Date.now();
    //   object.updated_at = object.created_at;
    //   window.scrollTo(0, document.getElementsByClassName('is-8')[0].children[0].clientHeight);
    //   this.comments.push(object);
    // },

  }
}

</script>
