<template>
    <div>

        <nav-component></nav-component>
        <br><br><br><br><br>
        <div class="container text-center" dir="rtl">
            <br>
            <p class="text-center" style="font-size:60px;color:#cecece"> الصفحة غير موجودة </p>
            <router-link to="/#"> عودة إلى الصفحة الرئيسية </router-link>
        </div>

    </div>
</template>
