<template lang="html">
  <div class="root">
    <nav-component></nav-component>
    <br><br><br><br>

    <div class="container">
      <!-- v-if="most_recent_data" -->
      <!-- will not be shown until the ajax call give us a response -->
      <div class="columns is-mobile is-multiline cardRootDiv text-center is-relative">
        <div v-for="exam in exams" class="column is-4-desktop is-6-tablet is-12-mobile">
          <!-- show the exam in squared card -->
          <exam-card :exam="exam"></exam-card>
        </div>
      </div>
      <br>
      <!-- <am-btn> عرض المزيد </am-btn> -->
      <br>
      <div v-if="exams.length != 6" ref="loading" class="container infinite-div">
        <infinite-loading spinner="waveDots" @infinite="mostRecentExams"></infinite-loading>
        <span slot="no-results">
          <span v-if="no_more_data" slot="no-results">
            <div class="columns">
              <div class="column is-5"></div>
              <div class="column"> <span class="sectionLebel" font-size="20px;"> لا يوجد إختبارات </span> </div>
              <div class="column is-5"></div>
            </div>
          </span>
        </span>
      </div>

    </div>

  </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';

export default {
  data(){
    return {
      most_recent_data : false,
      exams: [],
      no_more_data : false,
    }
  },
  methods: {
    mostRecentExams($state){
      axios.get('/recentExams/'+this.exams.length+'/'+15)
        .then(response => {
          this.most_recent_data = true;
          if(response.data.length == 0){
            // for show my custom "no more data" message
            this.no_more_data = true;
            $state.complete();

            // for hiding the "no more data :)" message of the infinite loading
            this.$refs.loading.childNodes[0].style.display = "none";
          }else{
            // this.exams = response.data;
            this.most_recent_data = true;
            this.exams = this.exams.concat(response.data);
            $state.loaded();
          }
        }).catch(err =>{
          // console.log(err);
        });
    },
  },

  components: {
    InfiniteLoading,
  },
}
</script>

<style lang="css">
</style>
