<template lang="html">
  <div class="root">
    <nav-component></nav-component>
    <br><br><br><br><br><br>

    <div class="container">
        <div class="columns homeMainContainer is-multiline" dir="rtl">
          <div class="column is-2">

          </div>
          <div class="column is-7">
            <questions :category_id="$route.params.id"></questions>
          </div>

          <div class="column is-3 p-t-0">
            <section class="willBefixed2">
              <maxim></maxim>
              <div class="questions-container show-question-container">
                <side-section-random-questions></side-section-random-questions>
              </div>
            </section>
          </div>
        </div>
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {

    }
  },
  mounted(){
    if(document.getElementsByClassName('questionBigCont').length > 10){
      new PrettyScroll('.willBefixed2', {
          container: '.homeMainContainer',
          breakpoint: 1000, // stop running the js when the window size is smaller than 575px
          offsetTop: 80, // space between the sticky element and the top of the window
          offsetBottom: 20, // space between the sticky element and the bottom of the window
          condition: () => true // you can disable the sticky behavior by returning false, it will be executed when you scroll.
      });
    }
  }
}
</script>

<style lang="css">
.card {
  margin-bottom: 0px;
}

.column.is-4-desktop.is-6-tablet.is-12-mobile{
  padding-bottom: 0px;
}
</style>
