<template>
  <div class="container-fluid">

    <nav-component></nav-component>
    <my-header></my-header>

    <!-- body -->
    <br>
    <!-- <section style="padding:5px 15px;" class="p-t-5 p-b-5 p-l-15 p-r-15 container is-container-mobile body-container">
      <div class="container">
        <div class="columns section-head" id="questions">
          <div class="column is-5"><hr></div>
          <div class="column"> <span class="sectionLebel"> {{ $store.getters.lang.most_recent_exams }} </span> </div>
          <div class="column is-5"><hr></div>
        </div>
      </div>
      <br> -->

      <!-- if we dont have any data we will show that: data's loading progress -->
      <!-- <div v-if="!most_recent_data" class="column is-12 waiting-for-somthing-big">
        <button class="button chain-loading is-large is-loading"></button>
      </div> -->

      <!-- v-if="most_recent_data" -->
      <!-- will not be shown until the ajax call give us a response -->
      <!-- <div class="columns is-mobile is-multiline cardRootDiv text-center is-relative">
        <span @click="$router.push('/all-exams')" v-if="exams.length" class="button is-default home-more-circle-btn is-absolute-btn is-hidden-mobile">
          <i class="fas fa-angle-right"></i>
        </span>
        <div v-for="exam in exams" class="column is-4-desktop is-6-tablet is-12-mobile"> -->
          <!-- show the exam in squared card -->
          <!-- <exam-card :exam="exam"></exam-card>
        </div>
        <div class="column is-12 m-t-15 m-b-15 text-center">
          <router-link class="smallUnderlinedText is-hidden-desktop is-hidden-touche" to="/all-exams"> المزيد من الإختبارات </router-link>
        </div>
      </div>
      <br>

    </section> -->

    <!-- <br> -->
    <div class="container">
      <div class="columns section-head" id="questions">
        <div class="column is-5"><hr></div>
        <div class="column"> <span class="sectionLebel"> {{ $store.getters.lang.most_recent_questions }} </span> </div>
        <div class="column is-5"><hr></div>
      </div>
    </div>
    <br>

    <div class="container">
      <div class="homeMainContainer columns is-multiline" dir="rtl">
        <div class="column is-2">
            <section class="willBefixed1">
              <div class="dashed-div" v-if="$store.getters.user.id > 0">
                  <p> مرحبا، <strong>{{ $store.getters.user.name }}</strong>, نتمنى لك جولة ممتعة </p>
                  <p> رصيد سمعتك: <strong>{{ $store.getters.user.reputation }}</strong> </p>
                  <!-- <a href="/register">
                    <span class="button is-primary"> {{ $store.getters.lang.join_now }} </span>
                  </a> -->
              </div>
              <div class="dashed-div p-t-15 p-b-15" v-else>
                  <p> {{ $store.getters.lang.join_us_message }} </p>
                  <a href="/register">
                    <span class="button is-primary"> {{ $store.getters.lang.join_now }} </span>
                  </a>
              </div>
              <article>
                <div class="dashed-div m-t-10" v-if="ads != null" id="ads1" >
                  <img :src="ads.ads1" />
                </div>

                <ul class="m-t-10">
                  <li class="text-righ p-5" style="border-bottom:1px dashed #ccc">
                    <router-link dir="rtl" style="color:#3e3e3e" to="/categories/follow">
                      {{ $store.getters.lang.follow_categories_to_get_more_posts_message }}
                    </router-link>
                  </li>
                  <li class="text-right p-5">
                    <router-link dir="rtl" style="color:#3e3e3e" to="/ar/instructions-of-use">
                      قوانين و إرشادات الإستخدام
                    </router-link>
                  </li>
                </ul>
              </article>
            </section>
        </div>
        <div class="column is-7">
          <questions></questions>
        </div>
        <div class="column is-3 p-t-0 questions-container is-relative show-question-container is-hidden-mobile">
          <section class="willBefixed2">
            <side-section-random-questions></side-section-random-questions>
            <maxim></maxim>
            <div v-if="ads != null" id="ads1" class="m-t-10" >
              <img style="border-radius:0px" :src="ads.ads1" />
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';

// import InfiniteLoading from 'vue-infinite-loading';
export default {

  data() {
    return {
        // means is it exist ? it will be changed by ajax response
        most_recent_data : false,
        exams: [],
        string : null,

        // css binding
        last_index : null,
        no_more_data : false,
        ads: null,
    }
  },
  mounted(){
    this.mostRecentExams();
    this.getCurrentAds();
    new PrettyScroll('.willBefixed1', {
        container: '.homeMainContainer',
        breakpoint: 1000, // stop running the js when the window size is smaller than 575px
        offsetTop: 80, // space between the sticky element and the top of the window
        offsetBottom: 20, // space between the sticky element and the bottom of the window
        condition: () => true // you can disable the sticky behavior by returning false, it will be executed when you scroll.
    });

    if(document.getElementsByClassName('questionBigCont').length > 10){
      new PrettyScroll('.willBefixed2', {
          container: '.homeMainContainer',
          breakpoint: 1000, // stop running the js when the window size is smaller than 575px
          offsetTop: 80, // space between the sticky element and the top of the window
          offsetBottom: 20, // space between the sticky element and the bottom of the window
          condition: () => true // you can disable the sticky behavior by returning false, it will be executed when you scroll.
      });
    }

  },
  methods: {
    getCurrentAds(){
      axios.get('/get-current-ads')
      .then(res => {
        this.ads = res.data[0]
      })
      .catch(err => {

      });
    },
    mostRecentExams($state){
      axios.get('/recentExams/'+this.exams.length+'/'+3)
        .then(response => {
          this.most_recent_data = true;
          if(response.data.length == 0){
            // for show my custom "no more data" message
            this.no_more_data = true;
            $state.complete();

            // for hiding the "no more data :)" message of the infinite loading
            this.$refs.loading.childNodes[0].style.display = "none";
          }else{
            // this.exams = response.data;
            this.most_recent_data = true;
            this.exams = this.exams.concat(response.data);
            // $state.loaded();
          }
        }).catch(err =>{
          // console.log(err);
        });
    },

    shareWithFacebook(){
      FB.ui(
        {
          method: 'share',
          href: 'google.com',
        },
        // callback
        function(response) {
          if (response && !response.error_message) {
            alert('Posting completed.');
          } else {
            alert('Error while posting.');
          }
        }
      );
    },

    generateNumber(){
      return Math.floor((Math.random() * 5));
    },

    getBackForCardContent(){
      let index = this.generateNumber();
      while(index == this.last_index){
        index = this.generateNumber();
      }
      this.last_index = index;
      return this.style_for_background[index];
    },

  },
  // mounted(){
  //   document.cookie = "language="+this.$store.getters.language+"; expires= Infinity";
  // },
  watch: {
    string : function(value){
      this.$router.push('/search='+value);
    },
  },
  components: {
    InfiniteLoading,
  },

}
</script>

<style>

.card {
  margin-bottom: 0px;
}

.column.is-4-desktop.is-6-tablet.is-12-mobile{
  padding-bottom: 0px;
}

</style>
