<template>
  <div>

      <nav-component></nav-component>

      <div class="container-fluid">


        <br><br><br><br>
        <br><br>

        <!-- search input -->
        <div class="searchBigContainer">
          <section class="container buttnav">
            <div>
              <form @submit.prevent="getSearch(search_for)" class="columns">
                <div class="field searchButtField">
                  <div class="control">
                    <button class="button is-large is-primary"> <i class="fas fa-search"></i> </button>
                  </div>
                </div>
                <div class="column field is-full">
                  <div class="control">

                  <input autofocus v-model="search_string" type="text" ref="search" :placeholder="$store.getters.lang.search_input_placeholder" class="input is-large homeSearch radius-0">

                  </div>
                </div>
              </form>
            </div>

          </section>
        </div>

        <!-- tabs -->
        <div class="container">
          <br><br>
          <div class="columns search-tabs">
            <div class="column is-3">
            </div>
            <div id="users" @click="getSearch('users')" class="column text-center">
              <span> أعضاء </span> <i class="fas fa-user-circle"></i>
            </div>
            <div id="questions" @click="getSearch('questions')" class="column text-center">
              <span> منشور </span> <i class="fas fa-list-alt"></i>
            </div>
            <!-- <div id="exams" @click="getSearch('exams')" class="column text-center">
              <span> إختبارات </span> <i class="fas fa-th-list"></i>
            </div> -->
            <div class="column is-3">
            </div>
          </div>
        </div>

        <!-- empty space -->
        </br></br></br>

        <!-- exams -->
        <div class="container">
          <div v-if="search_for == 'exams'" class="columns is-mobile is-multiline cardRootDiv">
            <div class="column is-4-desktop is-6-tablet is-12-mobile" v-for="exam in data">
              <!-- show the exam in squared card -->
              <exam-card :exam="exam"></exam-card>
            </div>
          </div>
        </div>

        <!-- questions -->
        <div v-if="search_for == 'questions' && data.length" class="container text-center">
          <div class="columns is-mobile is-multiline" v-for="collection in data">
            <div v-if="collection.title != undefined" class="column is-12 loginDiv m-b-10">
              <router-link :to="{ name: 'showQuestion', params: { id:collection.id, title: collection.title.replace(/[\/\\\s]/g,'-') } }">{{ collection.title }}</router-link>
            </div>
          </div>
        </div>

        <div v-if="search_for == 'users' && data.length" class="container">
          <div class="columns is-multiline">
            <div v-for="user in data" class="column is-3 questions-container is-full-mobile m-5" dir="rtl">
              <div class="columns loginDiv is-mobile">
                <!-- image -->
                <div class="column is-5">
                  <img :src="'https://www.gravatar.com/avatar/'+user.profile_img+'?d='+this.window.location.origin+'/images/default-user.png'">
                </div>
                <!-- name -->
                <div class="column">
                  <h1><router-link :to="{ name: 'user', params: {id:user.id,name:user.name.replace(/[\/\\\s]/g,'-')} }">{{ user.name }}</router-link></h1>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';

export default {
    data(){
        return  {
            name : '',
            search_string : '',
            search_for : 'questions',
            data : [],
            keepFirst: true,
            selected: null,
            tags : [],
            tags_to_search : [],
            last_word: "",
            // css binding
            last_index : null,
            no_more_data : false,
            // spinner
            loadingComponent: false,
        }
    },

    mounted(){
        this.search_string = this.$route.params.string;
        this.$refs.search.focus();
        // active style
        document.getElementById(this.search_for).className += ' div-is-active';
        NProgress.done();
    },

    methods : {
        toggleSpinner(){
            if(this.loadingComponent == false) this.loadingComponent = this.$loading.open();
            else {
              this.loadingComponent.close();
              this.loadingComponent = false;
            }
        },

        getSearch(value){
          if(value) this.search_for = value;

          /// active styling
          // document.getElementById('exams').className = 'column text-center';
          document.getElementById('questions').className = 'column text-center';
          document.getElementById('users').className = 'column text-center';
          document.getElementById(this.search_for).className += ' div-is-active';
          ///

          // for empty search string
          if(this.search_string.length == 0) return;
          // start loading spinner
          this.toggleSpinner();

          switch (this.search_for) {
            case 'questions':
              this.data = [];
              // url : /search_for_questions/skip/take
              axios.get('/search_for_questions/'+this.search_string+'/'+this.data.length+'/'+15)
              .then(res => {
                if(!res.data) this.no_more_data == true;
                this.data = this.data.concat(res.data);
                this.toggleSpinner();

              });
              break;
            // case 'exams':
            //   this.data = [];
            //   // url : /search_for_questions/skip/take
            //   axios.get('/search_for_exams/'+this.search_string+'/'+this.data.length+'/'+15)
            //   .then(res => {
            //     if(!res.data) this.no_more_data == true;
            //     this.data = this.data.concat(res.data);
            //     this.toggleSpinner();
            //     if(!res.data.length) this.$refs.moreBtn.className += ' is-static';
            //   });
            //   break;
            case 'users':
              this.data = [];
              // url : /search_for_questions/skip/take
              axios.get('/search_for_users/'+this.search_string+'/'+this.data.length+'/'+15)
              .then(res => {
                if(!res.data) this.no_more_data == true;
                this.data = this.data.concat(res.data);
                this.toggleSpinner();

              });
              break;
          }
        },
        search($state){
            axios.post('/my_search/'+this.data.length,{
              // search_array : JSON.stringify(this.tags_to_search)
              string : this.search_string
            })
            .then(res => {
                if(res.data.length == 0) {

                  // for show my custom "no more data" message
                  this.no_more_data = true;
                  $state.complete();

                  // for hiding the "no more data :)" message of the infinite loading
                  this.$refs.loading.childNodes[0].style.display = "none";
                }else {

                  this.data = this.data.concat(res.data);
                  $state.loaded();
                }
            })
            .catch(err => {
                // console.log(err);
            });
        },
    },

    components: {
      InfiniteLoading,
    },

}
</script>
