<template lang="html">
  <div class="container-fluid">
    <nav-component></nav-component>
    <br><br><br><br>
    <div class="container">
      <div class="loginDiv">
        <Quill-bubble-show :topic="content"></Quill-bubble-show>
      </div>
    </div>
  </div>
</template>

<script>
export default {

  data(){
    return {
      content: null,
    }
  },
  mounted(){
    this.getData();
    NProgress.done();
  },

  methods: {
    getData(){
      axios.get('/get-instructions-of-use')
        .then(res => {
          this.content = res.data.instructions_of_use;
          // console.log(JSON.parse(res.data.instructions_of_use));
          // this.quill.setContents(res.data);
        });
    }
  }

}
</script>

<style lang="css">
</style>
