<template>
  <div>
    <nav-component></nav-component>

    <timer v-if="exam_exist" :timeReady="timer_ready" :minutes="min" :seconds="sec" :runIt="turn_it" @time-out="stopAllCauseOfTime"></timer>

    <br><br><br><br>
    <div class="root container">
        <br><br><br><br>

        <div class="columns">
            <div class="column is-4 is-hidden-mobile is-hidden-touch">

              <side-exams v-if="exam_exist" :category="this.category"></side-exams>

            </div>

            <div class="column">
                <div class="loginDiv show_exam">

                    <div class="title-container">
                      <!-- exam title -->
                      <h1 class="rtl">{{ this.$route.params.title.replace(/-/g,' ') }}</h1>
                      <div ref="incrementTube" :style=" 'width:'+increment_tube_width+'%' " class="increment-tube"></div>
                    </div>
                    <span v-if="!exam_exist" class="text-center"> ... </span>
                    <!-- exam form -->
                    <div class="is-relative" v-if="exam_exist && !result_exists && !prediction_result_exists">

                        <!-- start exam modal -->
                        <div class="start-exam-modal" v-if="exam_started">
                            <div>
                                <!-- <br><br><br> -->
                                <span @click="startExam" class="button is-primary is-large">{{ $store.getters.lang.start_now }}</span>
                                <!-- <br><br><br> -->
                            </div>
                        </div>

                        <div>
                            <!-- question -->
                            <h2 v-if="question.question.charAt(0) != '{'" class="show_title rtl"> {{ question.question }} </h2>

                            <div v-if="question.question.charAt(0) == '{' && updated_quill" class="column is-12 p-0">
                              <Quill-bubble-show :topic="question.question"></Quill-bubble-show>
                            </div>

                                <ul>
                                    <!-- answer -->
                                    <li class="show_li rtl" v-for="answer in answers[questions.indexOf(question)]">
                                        <!-- {answer : answer, question_id : questions.indexOf(question) } -->
                                        <!-- ''+answer+'-'+questions.indexOf(question) -->
                                        <!-- <b-radio
                                            v-if="question.isNotMultiAnswers != 'لا'"
                                            v-model="checked_answers[counter]"
                                            :native-value="{answer : answer, question_id : questions.indexOf(question) }">
                                            <div @click="switchRadioButton(answers[questions.indexOf(question)].indexOf(answer))" style="width:100%;">
                                              <div class="new-check-icon" style="
                                                  position:  absolute;
                                                  font-size: 23px;
                                                  left: 11px;
                                                  top: -4px;
                                                  right:0px;
                                              ">
                                                <i ref="circle" class="far fa-circle"></i>
                                              </div>
                                              {{ answer[0] }}
                                            </div>
                                        </b-radio> -->
                                        <b-radio
                                            v-if="question.isNotMultiAnswers != 'لا'"
                                            v-model="checked_answers[counter]"
                                            :native-value="{answer : answer, question_id : questions.indexOf(question) }">
                                            {{ answer[0] }}
                                        </b-radio>
                                        <b-checkbox
                                        v-if="question.isNotMultiAnswers == 'لا'"
                                        v-model="checked_answers[counter]"
                                        checked="false"
                                        :native-value="{answer : answer, question_id : questions.indexOf(question) }"
                                        >
                                            {{ answer[0] }}
                                        </b-checkbox>
                                        <!-- <b-checkbox
                                            ref="bcheckbox"
                                            v-if="question.isNotMultiAnswers == 'لا'"
                                            checked="false"
                                            v-model="checked_answers[counter]"
                                            :native-value="{answer : answer, question_id : questions.indexOf(question) }">
                                            <div @click="switchCheckbox(answers[questions.indexOf(question)].indexOf(answer))" style="width:100%;">
                                              <div class="new-check-icon" style="
                                                  position:  absolute;
                                                  font-size: 23px;
                                                  left: 11px;
                                                  top: -4px;
                                                  right:0px;
                                              ">
                                                <i ref="square" class="far fa-square"></i>
                                              </div>
                                              {{ answer[0] }}
                                            </div>
                                        </b-checkbox> -->

                                    </li>
                                    <!-- end answer -->
                                </ul>
                        </div>

                        <!-- to next button -->
                        <div class="field">
                            <div class="control divContainNextButt">
                                <button v-if="checked_answers[counter].length == 0" @click="toNext" class="button is-large is-static"> {{ $store.getters.lang.next }} </button>
                                <button v-if="checked_answers[counter].length != 0" @click="toNext" class="button is-large is-primary"> {{ $store.getters.lang.next }} </button>
                            </div>
                        </div>
                    </div>

                    <div v-if="prediction_result_exists" class="columns is-multiline prediction-result-message">
                      <p>{{ prediction_result }}</p>
                    </div>


                    <!-- result section -->
                    <circle-stat v-if="open_circle_stat" :skill="circle_stat_skill_obj" :progress_obj="progress"></circle-stat>

                    <div v-if="result_exists" class="columns is-multiline">
                        <!--  -->
                        <div class="column is-full">
                            <span> النتيجة : </span>
                            <span>{{ rightAnswers.length }} إجابة صحيحة </span>
                            <span>{{ falseAnswers.length }} إجابة خاطئة </span>
                        </div>

                        <!-- right answers section -->
                        <show-right-or-false-answers :all_the_answers="answers" :the_answers="rightAnswers" :the_questions="questions" mode="right_answers"></show-right-or-false-answers>

                        <!-- false answers section -->
                        <show-right-or-false-answers :all_the_answers="answers" :the_answers="falseAnswers" :the_questions="questions" mode="false_answers"></show-right-or-false-answers>

                    </div>
                    <!-- end result section -->
                </div>
            </div>

        </div>

    </div>

  </div>
</template>

<script>
export default {
  data(){
      return {
          open_circle_stat : false,
          circle_stat_skill_obj: {
            // empty now
          },
          updated_quill : true,
          native_value : null,
          exam_exist: false,
          id : null,
          title: null,
          questions : '',
          counter : 0,
          question : '',
          answers : '',
          checked_answers : [[]],
          result_exists : false,
          rightAnswers : [],
          falseAnswers : [],
          radio : '',
          min: 0,
          sec: 0,
          category : null,
          exam_started : true,
          turn_it : false,
          finished_exam : false,
          timer_ready : false,
          predicted_answers: null,
          predicted_messages : null,
          with_prediction : null,
          prediction_result_exists : false,
          prediction_result: "",

          // used to know whether the URL updated
          route : null,
          no_more_data : false,
          increment_tube_width: 1

      }
  },
  methods:{
      switchRadioButton(index){
          let i = 0;
          for(i; i<this.$refs.circle.length; i++) {
            this.$refs.circle[i].className = 'far fa-circle';
          }
          this.$refs.circle[index].className = 'far fa-dot-circle';
      },

      stopAllCauseOfTime(){

          if(!this.finished_exam){
              let interval = setInterval(()=>{
                  if(this.finished_exam){
                      clearInterval(interval);
                  }else{
                      this.toNext();
                  }
              },1);
          }
      },
      getExam(){
        axios.get('/getExam/'+this.$route.params.id).then(response => {
            this.title = response.data[0].title;
            this.id = response.data[0].id;
            if(response.data[0].with_prediction == 0)
              this.shuffleQuestions(JSON.parse(response.data[0].question),JSON.parse(response.data[0].answer));
            else {
              this.questions = JSON.parse(response.data[0].question);
              this.answers = JSON.parse(response.data[0].answer);
              // Exam is loaded
              this.exam_exist = true;
            }
            this.min = JSON.parse(response.data[0].timer).minutes;
            this.sec = JSON.parse(response.data[0].timer).seconds;

            if(this.min > 0 || this.sec > 0){
                this.timer_ready = true;
            }

            this.question = this.questions[this.counter];
            this.with_prediction = response.data[0].with_prediction;
            this.predicted_answers = JSON.parse(response.data[0].predicted_answers);
            this.predicted_messages = JSON.parse(response.data[0].predicted_messages);
            this.category = response.data[0].category;

        }).catch();
      },
      // its not important, I promise you :)
      shuffleQuestions(questions,answers){

        /////////////////////////
        ////// IMPORTANT!! //////
        /////////////////////////
        //
        // the block of code below,
        // represents my own way to
        // shuffle the questions
        // and its answers,predictions
        // and predicted_messages
        //
        /////////////////////////
        //
        // this block of code is not
        // important for you
        //
        /////////////////////////

        // slicing the same part from questions and answers
        let new_questions_part = [];
        let new_answers_part = [];
        //

        // random : 1...3
        let step = Math.floor(Math.random() * 3)+1;
        let i;
        // not important
        let questions_length = questions.length == 1 ? Math.floor(questions.length/2) : questions.length;
        // increment by step (+1,+2 or +3) instead of ++
        for(i = step; i<questions_length; i+=step){
          if(questions[i] != undefined){
            new_questions_part.push(questions[i]);
            new_answers_part.push(answers[i]);
            questions.splice(i,1);
            answers.splice(i,1);
          }
        }
        //
        for(i = 0; i<questions.length; i++){
          if(questions[i] != undefined){
            new_questions_part.push(questions[i]);
            new_answers_part.push(answers[i]);
            questions.splice(i,1);
            answers.splice(i,1);
          }
        }
        let mode = Math.floor(Math.random()*2);
        this.questions = new_questions_part.concat(questions);
        this.answers = new_answers_part.concat(answers);

        if(mode != 0){
          let j;
          if(mode == 1){
            for(j=0; j<this.answers.length;j++){
              this.answers[j].reverse();
            }
          }else{
            for(j=0; j<this.answers.length;j++){
              this.answers[j].reverse();
            }
          }
        }

        // Exam is loaded
        this.exam_exist = true;
      },
      comparePredictionsWithCheckedAnswers(){

        let i ,j ,n;
        // at the first time that the checked answers matches the [i] prediction, prediction_index will have a value
        let prediction_index = null;

        // loop throughout the predictions
        for(i = 0; i<this.predicted_answers.length-1 ; i++){

          // check wether the prediction_index exist
          if(prediction_index != null) break;

          // just initialization
          prediction_index = i;

          // loop throughout the questions
          for(j = 0; j<this.predicted_answers[i].length; j++){

            // test the length just for minimizing time
            /*
            if i use radio in answer
            that mean i have just one
            answer, so i dont need to
            compare the length
            */
            if( // start
              Array.isArray(this.predicted_answers[i][j])
              && Array.isArray(this.checked_answers[j])
              && this.predicted_answers[i][j].length != this.checked_answers[j].length
            ){ // ---

                prediction_index = null;
                break;

            }// end if

            // loop throughout the predicted answers for the [j] question
            for(n = 0; n<this.predicted_answers[i][j].length ; n++){
                // if i use checkbox
                if(Array.isArray(this.predicted_answers[i][j]) && this.predicted_answers[i][j][n] != this.checked_answers[j][n].answer[0]){
                  prediction_index = null;
                  j = this.predicted_answers[i].length;
                  break;
                }
                // if i use radio rather than checkbox in answer
                else if(!Array.isArray(this.predicted_answers[i][j]) && this.predicted_answers[i][j] != this.checked_answers[j].answer[0]){
                  prediction_index = null;
                  j = this.predicted_answers[i].length;
                  break;
                }
            }

            // // if all the prediction answers match the checked answers of the [i] question
            // if(prediction_index != null && j == this.predicted_answers[i].length){
            //     return prediction_index;
            // }

          }
        }
        return prediction_index;

      },

      updateQuill(){
        this.updated_quill = false;
        setTimeout(()=>{
          this.updated_quill = true;
        },1);
      },

      toNext(){
          // counter++ : to next question
          this.counter++;

          this.increment_tube_width += (99/this.questions.length);
          this.checked_answers.push([]);

          // update quill
          if(this.question.question.charAt(0) == '{') this.updateQuill();

          if(!this.questions[this.counter]){

              if(this.with_prediction == 1){
                let pre_index = this.comparePredictionsWithCheckedAnswers();

                if(pre_index == undefined && pre_index == null){
                  pre_index = this.predicted_messages.length-1;
                }

                this.prediction_result = this.predicted_messages[pre_index];
                this.prediction_result_exists = true;
                return;
              }

              this.result_exists = true;
              this.checked_answers.forEach((array) => {
                // this is for the radio answer

                if(!Array.isArray(array)){
                    array = [array];
                }

                // filling rightAnswers
                array.forEach( elem => {
                    if(elem.answer[1]){
                        this.rightAnswers.push({ ans: elem.answer[0],question_id: elem.question_id });
                    }else{
                        this.falseAnswers.push({ ans: elem.answer[0],question_id: elem.question_id });
                    }
                } );

              });

              this.finished_exam = true;
              this.turn_it = false;
              // after rightAnswers filled
              this.createCircleStatistics();
          }else{
              this.question = this.questions[this.counter];
          }

      },

      startExam(){
          this.exam_started = false;
          this.turn_it = true;
      },

      createCircleStatistics(){
        let i,j,number_of_right_checked_answers = 0,number_of_all_right_answers = 0;
        for(i=0 ;i<this.answers.length;i++){
          for(j=0; j<this.answers[i].length;j++){
            if(this.answers[i][j][1] == true) number_of_all_right_answers++;
          }
        }

        this.progress = require('progressbar.js');
        this.circle_stat_skill_obj.text = ''+((this.rightAnswers.length/number_of_all_right_answers)*100)+'';
        this.circle_stat_skill_obj.value = (this.rightAnswers.length/number_of_all_right_answers);
        this.open_circle_stat = true;

        // send result to skills table
        if(this.$store.getters.fromState_isAuth){
          axios.post('/save-skill',{
            name : this.title,
            value : this.circle_stat_skill_obj.value
          });
        }

      },
  },

  updated(){
    // console.log('helo');
    if(this.$route.params.id != this.route) {
      window.scrollTo(0, 0);
      this.route = this.$route.params.id;
      this.getExam();
    }
  },
  mounted(){
    this.route = this.$route.params.id;
    this.getExam();
  }
}
</script>
