<template lang="html">
  <div id="root">
    <nav-component></nav-component>
    <br><br><br><br><br><br>

    <dashboard>
      <div class="column is-9" dir="ltr">
        <div class="loginDiv">

            <div class="columns is-multiline">

              <div class="column is-12">
                <div class="control">

                  <div class="control m-b-15 text-right">
                    <label for="ads1">:150 * 150</label>
                    <input type="text" name="ads1" v-model="ads.ads1" placeholder="150 * 150">
                  </div>

                  <div class="control m-b-15 text-right">
                    <label for="ads2">:750 * 150</label>
                    <input type="text" name="ads2" v-model="ads.ads2" placeholder="750 * 150">
                  </div>

                  <div class="control m-b-15 text-right">
                    <label for="ads3">:150 * 750 </label>
                    <input type="text" name="ads3" v-model="ads.ads3" placeholder="150 * 750">
                  </div>

                  <div class="control m-b-15 text-right">
                    <label for="ads4">:350 * 350</label>
                    <input type="text" name="ads4" v-model="ads.ads4" placeholder="350 * 350">
                  </div>

                </div>
                <br>
                <div class="control">
                  <span ref="submit" @click="sendToDB()" class="button is-primary"> حفظ </span>
                </div>
              </div>

            </div>
        </div>
      </div>
    </dashboard>
  </div>
</template>

<script>
export default {

  data(){
    return {
      ads: {
        ads1: null,
        ads2: null,
        ads3: null,
        ads4: null,
      }
    }
  },
  mounted(){
    this.getCurrentAds();
  },

  methods: {
    getCurrentAds(){
      axios.get('/get-current-ads')
      .then(res => {
          NProgress.done();
          this.ads = res.data[0];
      })
      .catch(err => {

      });
    },

    sendToDB(){
      this.$refs.submit.className = 'button is-primary is-loading';
      axios.post('/update-ads',this.ads)
      .then(res => {
        console.log(res.data);
        this.$refs.submit.className = 'button is-primary';
        this.$snackbar.open({
            message: ' تم تحديث إعلانات الموقع ',
            type: 'is-success',
            position: 'is-bottom',
            actionText: 'إغلاق',
            indefinite: true,
            onAction: () => {
                this.$toast.close();
            }
        });
      })
      .catch(err => {
        this.$refs.submit.className = 'button is-primary';
        this.$snackbar.open({
            message: ' حدث خطأ ما ',
            type: 'is-danger',
            position: 'is-bottom',
            actionText: 'إغلاق',
            indefinite: true,
            onAction: () => {
                this.$toast.close();
            }
        });
      });
    }
  }

}
</script>

<style lang="css">
</style>
