<template>
  <div>

      <nav-component></nav-component>
      <br><br><br><br><br><br>

      <dashboard>
        <div class="column is-9" dir="ltr">
          <div class="columns">
              <div class="column loginDiv m-r-l-12">

                  <div class="columns is-multiline">
                      <div class="column">
                          <h1 style="text-align:right"> إنشاء تصنيفات </h1>

                          <div v-if="creating_categories_is_ready" class="field">
                              <div class="control">
                              <input v-model="current_category" type="text" @keyup.prevent.enter="addcategory" dir="rtl" placeholder=" إسم التصنيف ثم إضغط على Enter" autofocus>
                              </div>
                          </div>

                          <div class="field">
                              <div class="control">
                                  <div class="field tags-container">
                                      <div v-for="category in categories">
                                          <b-tag
                                              type="is-primary"
                                              closable
                                              @close="removeCategoryAndClose(category)">
                                              {{ category }}
                                          </b-tag>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div v-if="!creating_categories_is_ready" class="field rtl"> إنتظر للحظة رجاءا... </div>

                          <div v-if="creating_categories_is_ready" class="columns">
                              <div class="column is-3 field">
                                  <button @click="saveCategories" :class="save_butt_class">
                                      حفظ
                                  </button>
                              </div>
                              <div class="column is-3">

                              </div>
                              <div class="column">
                              </div>
                          </div>
                      </div>

                      <div class="column is-12">

                          <h1 class="txt-right">عرض جميع التصنيفات</h1>
                          <table v-if="show_old_categories" class="table">

                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>التصنيف</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr :id="'cat'+category.id" v-for="category in old_categories">
                                      <td>
                                          <span @click="removeCategoryFromDB(category.id)" class="button is-dark is-small">
                                              <i class="fas fa-trash"></i>
                                          </span>
                                      </td>
                                      <td>{{ category.category }}</td>
                                  </tr>
                              </tbody>

                          </table>
                          <div v-if="!show_old_categories" class="txt-center">
                              <span @click="show_old_categories = true" class="button is-default"> عرض الكل </span>
                          </div>

                      </div>

                  </div>

              </div>
          </div>

        </div>
      </dashboard>

  </div>
</template>


<script>
export default {
  data(){
      return {
          current_category : '',
          categories : [],
          old_categories : [],
          creating_categories_is_ready : false,
          save_butt_class : 'button is-primary is-large nextButt',
          show_old_categories : false
      }
  },
  mounted(){
      this.getOldCategories();
  },
  methods: {

      getOldCategories(){
          axios.get('/get_categories')
            .then(res => {
                if(res.status == 200){
                    // let arr = [];
                    // arr = res.data;
                    // arr.forEach(object => {
                    //     this.old_categories.push(object.category);
                    // });
                    this.old_categories = res.data;
                    this.creating_categories_is_ready = true;
                }
            })
            .catch(err => {
                // console.log(err);
            });
      },

      addcategory(){
          if(this.current_category != ''
                && this.old_categories.indexOf(this.current_category) == -1
                && this.categories.indexOf(this.current_category) == -1
            ){
            this.categories.push(this.current_category);
            this.current_category = '';
          }else{
              this.current_category = '';
          }
      },

      saveCategories(){

          if(this.categories.length == 0){
              return 0;
          }

          this.save_butt_class = 'button is-primary is-loading is-large nextButt'
          this.categories.forEach( category => {

            axios.post('/save_category',{
                category
            }).then(res => {
                    if(res.status == 200) {
                        this.categories.forEach(elem => {
                            this.old_categories.unshift(elem);
                        });
                        this.categories = [];
                    }
                    this.save_butt_class = 'button is-primary is-large nextButt';
                })
                .catch(err => {
                    // console.log(err);
                    this.save_butt_class = 'button is-primary is-large nextButt';
                });

          } );
      },

      removeCategoryAndClose(value){
          let index = this.categories.indexOf(value);
          this.categories.splice(index,1);
      },

      removeCategoryFromDB(id){
          const loadingComponent = this.$loading.open()
          axios.post('/removecategory',{ category_id : id })
            .then(res => {
                if(res.status == 200){
                    document.getElementById('cat'+id).style.display = 'none';
                    // let index = this.old_categories.indexOf(value);
                    // this.old_categories.splice(index,1);
                    loadingComponent.close();
                }
            })
            .catch(err => {
                // console.log(err);
                loadingComponent.close();
            });
      }
  }
}
</script>
