<template lang="html">
  <div id="root login">
    <nav-component></nav-component>
    <br><br>
    <br><br>
    <br><br>

    <dashboard>

        <div class="column is-9">
          <!-- <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="../">Bulma</a></li>
              <li><a href="../">Templates</a></li>
              <li><a href="../">Examples</a></li>
              <li class="is-active"><a href="#" aria-current="page">Admin</a></li>
            </ul>
          </nav> -->

          <section class="hero is-primary is-medium is-bold welcome">
            <div class="hero-body">
              <div class="container" style="width: 100%;">
                <h1 class="title">
                  أهلا👻
                </h1>
                <h2 class="subtitle">
                  لوحة التحكم بين يديك، إستخدمها بحرص
                </h2>

                <section class="info-tiles">
                  <div class="tile is-ancestor has-text-centered">
                    <div class="tile is-parent">
                      <article class="tile is-child box">
                        <p class="title">{{ data[0] }}</p>
                        <p class="subtitle">أعضاء</p>
                      </article>
                    </div>
                    <div class="tile is-parent">
                      <article class="tile is-child box">
                        <p class="title">{{ data[1] }}</p>
                        <p class="subtitle">مشاركات</p>
                      </article>
                    </div>
                    <div class="tile is-parent">
                      <article class="tile is-child box">
                        <p class="title">{{ data[2] }}</p>
                        <p class="subtitle">إختبارات</p>
                      </article>
                    </div>
                    <div class="tile is-parent">
                      <article class="tile is-child box">
                        <p class="title">{{ data[3] }}</p>
                        <p class="subtitle">حكم</p>
                      </article>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </section>

          <div style="display:none;" class="columns m-t-30">
            <div class="column is-6">
              <div class="card events-card">
                <header class="card-header">
                  <p class="card-header-title">
                    Events
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </a>
                </header>
                <div class="card-table">
                  <div class="content">
                    <table class="table is-fullwidth is-striped">
                      <tbody>
                        <tr>
                          <td width="5%"><i class="fa fa-bell-o"></i></td>
                          <td>Lorum ipsum dolem aire</td>
                          <td><a class="button is-small is-primary" href="#">Action</a></td>
                        </tr>
                        <tr>
                          <td width="5%"><i class="fa fa-bell-o"></i></td>
                          <td>Lorum ipsum dolem aire</td>
                          <td><a class="button is-small is-primary" href="#">Action</a></td>
                        </tr>
                        <tr>
                          <td width="5%"><i class="fa fa-bell-o"></i></td>
                          <td>Lorum ipsum dolem aire</td>
                          <td><a class="button is-small is-primary" href="#">Action</a></td>
                        </tr>
                        <tr>
                          <td width="5%"><i class="fa fa-bell-o"></i></td>
                          <td>Lorum ipsum dolem aire</td>
                          <td><a class="button is-small is-primary" href="#">Action</a></td>
                        </tr>
                        <tr>
                          <td width="5%"><i class="fa fa-bell-o"></i></td>
                          <td>Lorum ipsum dolem aire</td>
                          <td><a class="button is-small is-primary" href="#">Action</a></td>
                        </tr>
                        <tr>
                          <td width="5%"><i class="fa fa-bell-o"></i></td>
                          <td>Lorum ipsum dolem aire</td>
                          <td><a class="button is-small is-primary" href="#">Action</a></td>
                        </tr>
                        <tr>
                          <td width="5%"><i class="fa fa-bell-o"></i></td>
                          <td>Lorum ipsum dolem aire</td>
                          <td><a class="button is-small is-primary" href="#">Action</a></td>
                        </tr>
                        <tr>
                          <td width="5%"><i class="fa fa-bell-o"></i></td>
                          <td>Lorum ipsum dolem aire</td>
                          <td><a class="button is-small is-primary" href="#">Action</a></td>
                        </tr>
                        <tr>
                          <td width="5%"><i class="fa fa-bell-o"></i></td>
                          <td>Lorum ipsum dolem aire</td>
                          <td><a class="button is-small is-primary" href="#">Action</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <footer class="card-footer">
                  <a href="#" class="card-footer-item">View All</a>
                </footer>
              </div>
            </div>
            <div class="column is-6">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    Inventory Search
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    <div class="control has-icons-left has-icons-right">
                      <input class="input is-large" type="text" placeholder="">
                      <span class="icon is-medium is-left">
                        <i class="fa fa-search"></i>
                      </span>
                      <span class="icon is-medium is-right">
                        <i class="fa fa-check"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    User Search
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    <div class="control has-icons-left has-icons-right">
                      <input class="input is-large" type="text" placeholder="">
                      <span class="icon is-medium is-left">
                        <i class="fa fa-search"></i>
                      </span>
                      <span class="icon is-medium is-right">
                        <i class="fa fa-check"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

    </dashboard>
  </div>
</template>

<script>
export default {
  data(){
    return {
      data: {}
    }
  },

  mounted(){
    this.getWebsiteInfo();
  },

  methods: {
    getWebsiteInfo(){
      axios.get('/get_website_info')
        .then(res => {
          this.data = res.data;
        })
        .catch(err => {
          //
        });
    }
  }
}
</script>

<style lang="css">
</style>
