<template>
 <div id="login_root">
    <nav-component></nav-component>
    <br><br>
    <br><br>
    <br><br>
    <dashboard>
      <div class="column is-9" dir="ltr">
        <div class="columns is-multiline">
          <!-- <nav class="column is-12 breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="../">Bulma</a></li>
              <li><a href="../">Templates</a></li>
              <li><a href="../">Examples</a></li>
              <li class="is-active"><a href="#" aria-current="page">Admin</a></li>
            </ul>
          </nav> -->
            <div class="column is-12">
                <div class="columns post-divs">
                    <div style="margin-bottom:0px;" class="column loginDiv">

                      <!-- choose background modal
                      |
                      |
                      |
                      |
                      |
                      |
                      -->
                      <div class="columns m-t-15 is-multiline is-mobile">
                        <div class="column is-12 modal is-active" v-if="backPicker">
                        <div class="modal-background"></div>
                        <div class="modal-card m-t-30" style="margin:auto">

                            <section class="modal-card-body">
                            <!-- Content ... -->

                            <div class="columns is-multiline">
                                <div class="column">
                                    <div class="card" style="box-shadow: 0 8px 19px #d4d4d4;" :style="background_img">
                                    <!-- :style="getBackForCardContent()" -->
                                    <div id="cardcontent" class="card-content" :style="background">
                                        <span class="category-span">
                                        <router-link to="#">
                                            التصنيف التجريبي
                                        </router-link>
                                        </span>
                                        <h1 ref="titlecustomizing" class="title" dir="rtl" align="center" style="border:none">
                                        عنوان تجريبي
                                        </h1>

                                    </div>
                                    <footer class="card-footer">
                                        <p class="card-footer-item item-1">
                                        <span>
                                            <a> إجتياز الآن </a>
                                        </span>
                                        </p>
                                        <p class="card-footer-item">
                                        <span>
                                            <a>ذكرني لاحقا</a>
                                        </span>
                                        </p>
                                    </footer>

                                    </div>
                                </div>
                                <section class="column is-3-desktop is-6 select_back_section">
                                    <div @click="saveBackPicker(style)" class="back-class" v-for="style in style_for_background" :style="style">
                                    </div>
                                </section>
                                <section data-simplebar class="column is-3-desktop is-6 select_back_section">
                                    <div @click="saveBackPickerImg(style)" class="back-class" v-for="style in style_for_background_imgs" :style="style">
                                    </div>
                                </section>
                            </div>


                            <!-- Content ... -->
                            </section>
                            <footer style="background:#1b1b1b;" dir="ltr" class="modal-card-foot">
                            <button ref="submitBTN" class="button is-primary" @click="sendToDB"> حفظ </button>
                            <button class="button is-light" @click="backPicker = false"> إلغاء </button>
                            </footer>
                        </div>
                        </div>
                    </div>
                    <!--
                      <div class="columns is-multiline" v-if="backPicker">

                          <header class="column is-12 change_back_header">
                            <p class=""></p>
                            <button class="delete" @click="backPicker = false" aria-label="close"></button>
                          </header>
                          <section class="column is-6">



                          </section>

                          <footer class="">
                            <button v-if="!open_save_changes_button" class="button is-large radius-0 is-primary" @click="sendToDB">حفظ</button>
                            <button v-if="open_save_changes_button" class="button is-large radius-0 is-primary" @click="backPicker = false">إغلاق</button>
                          </footer>

                      </div>
                    -->
                        <div v-if="!successStoring" class="columns">
                            <div @submit.prevent="" class="column">
                                <!--  -->
                                <h1 style="text-align:right"> إنشاء إختبار </h1>
                                <!-- error  -->
                                <div v-if="error_empty_field" class="field">
                                    <span class="alert is-danger" style="padding:5px;">تأكد من ملئ جميع البيانات</span>
                                </div>

                                <div class="field p-0 p-t-0 m-t-0" ref="QuillContainer" style="display:none;">
                                  <span class="button is-primary is-rounded is-meduim" @click="open_quill_question_editor = false;$refs.QuillContainer.style.display = 'none';"> سؤال عادي </span>
                                  <div ref="QuillArea"></div>
                                </div>

                                <!-- first step : title, category, tags -->
                                <div v-if="!finish">
                                  <div class="field" v-if="!finish">
                                      <div class="control">
                                      <input type="text" maxlength="50" v-model="title" placeholder=" عنوان الإختبار " autofocus>
                                      </div>
                                  </div>

                                  <div class="field column is-12 p-0" style="margin-bottom:50px;" dir="rtl">
                                      <div class="control">
                                          <!-- b-select  -->
                                          <category-selector v-model="selected_category" label="التصنيف" placeholder="مثلا: php, java, حاسوب..."></category-selector>
                                      </div>
                                  </div>

                                  <div v-if="false" class="field">
                                      <div class="control">
                                          <section>
                                              <b-field dir="rtl" label="أدخل أوسمة محرك البحث :">
                                                  <b-autocomplete
                                                      v-model="name"
                                                      :data="filteredDataArray"
                                                      placeholder="مثال: إختبار شخصية"
                                                      @select="option => addTag(option)">
                                                      <template slot="empty">لم نجد أي نتائج</template>
                                                  </b-autocomplete>
                                              </b-field>
                                          </section>
                                      </div>
                                  </div>

                                  <div class="field">
                                      <div class="control">
                                          <div class="field tags-container">
                                              <div v-for="tag in selected_tags">
                                                  <b-tag
                                                      type="is-primary"
                                                      closable
                                                      @close="removeTagAndClose(tag)">
                                                      {{ tag }}
                                                  </b-tag>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>

                                <!-- second step: question/answer, time -->
                                <div v-if="finish">
                                    <!-- question -->
                                    <div v-show="!open_quill_question_editor" class="field">
                                        <div class="control queTitle">
                                            <span >{{ current_question_id }}</span> <span class="button is-primary is-meduim" @click="open_quill_question_editor = true;$refs.QuillContainer.style.display = 'block'">نص</span>
                                            <input type="text" @keyup.enter="$refs.answer_input.focus()" ref="question" v-model="quest_content" placeholder=" سؤال " autofocus>
                                        </div>
                                    </div>

                                    <!-- turn on/off -->
                                    <div class="field m-t-20">
                                        <b-switch v-model="isNotMultiAnswers"
                                            true-value=""
                                            false-value="لا">
                                            {{ isNotMultiAnswers }} يقبل إجابة واحدة
                                        </b-switch>
                                    </div>
                                    <!-- answer -->
                                    <div class="field">
                                        <div class="control queTitle">
                                            <span >{{ liveShowAnswers.length }}</span>
                                            <input @keydown.left="checkBestAnswer" @keydown.enter="addAns" @keydown.down="toNext" @keydown.up="isNotMultiAnswers = ''" ref="answer_input" type="text" v-model="quest_answer" placeholder=" جواب " autofocus>
                                        </div>
                                    </div>
                                    <!-- ans button -->
                                    <div class="field">
                                        <div class="control">
                                            <span @click="addAns" class="button is-primary addAns"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </div>
                                    <!-- ans button 2 -->
                                    <div class="field">
                                        <div class="control">
                                            <i @click="checkBestAnswer" :class="checkClass"></i>
                                        </div>
                                    </div>
                                    <!-- live show answers -->
                                    <div v-for="answer in liveShowAnswers" class="m-t-20">
                                        <span class="button is-danger is-rounded" @click="remove(answer[0])"><i class="fas fa-trash"></i></span>
                                        <span>
                                            {{ answer[0] }} - <i v-if="answer[1]" class="fas fa-check"></i> <i v-if="!answer[1]" class="fas fa-close"></i>
                                        </span>
                                    </div>
                                    <!-- active time -->
                                    <div class="field ">
                                        <div class="control text-right txt-right">
                                            <span ref="activeTime" @click="allow_timer = true;$refs.activeTime.setAttribute('class','is-hidden')" class="button is-primary is-default">تفعيل الوقت</span>
                                        </div>
                                    </div>

                                    <!-- timer initialization -->
                                    <div v-if="allow_timer" class="field">
                                        <div class="columns rtl">
                                            <div class="column is-6">
                                                <div class="control">
                                                    <div class="columns">

                                                        <div class="column is-half field">
                                                            <label class="label"> عدد الثواني لهذا السؤال </label>
                                                            <div class="control">
                                                                <input v-model="current_question_seconds" type="number" class="input">
                                                            </div>
                                                        </div>
                                                        <div class="column"></div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- buttons : next, end -->
                                <div class="columns">
                                    <div class="column is-3 field">
                                        <button @click="toNext" class="button is-primary is-large nextButt">
                                            التالي
                                        </button>
                                    </div>
                                    <div v-if="saveButt_isActive && !open_save_changes_button" class="column is-3 field">
                                        <button @click="backPicker = true" class="button is-primary is-large nextButt">
                                            إنهاء
                                        </button>
                                    </div>
                                    <div class="column is-3 field">
                                        <button :style="background" v-if="open_save_changes_button" @click="backPicker = true" class="button is-primary is-large nextButt">
                                            تغيير الخلفية
                                        </button>
                                    </div>
                                    <div class="column">
                                    </div>
                                </div>

                                <!-- error message -->
                                <div class="field" v-if="faildStoring">
                                    <div class="control">
                                        <span class="alert is-danger"> حدث خطأ ما، قم بالضغط على زر الإنهاء مرة أخرى </span>
                                    </div>
                                </div>

                                <!-- error message -->
                                <div class="field" v-if="errors" v-for="err in errors">
                                    <div class="control">
                                        <span class="alert is-danger" dir="rtl"> {{ err[0] }} </span><br>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- success storing message -->
                        <div v-if="successStoring" class="columns">
                            <div class="column">
                                <span class="alert is-success">تم إنشاء إختبارك، بإمكانك التعديل عليه بالأسفل أو</span>
                                <router-link to="/"> الذهاب الى صفحة الإختبار </router-link>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="column is-12">
              <!-- there is two buttons here  -->
              <center>
                <button v-if="open_save_changes_button" @click="sendToDBForUpdate()" class="button is-dark is-medium"> حفظ التعديلات </button>
                <button @click="toggleCustomize_sec" class="button is-default is-medium"> معاينة </button>
                <button v-if="questions.length>0" @click="toggleOpen_result_cases" class="button is-default is-medium">  تعيين التنبؤات  </button>
                <button v-if="answer_cases[0].length>1" @click="toggleOpen_modify_result_cases = !toggleOpen_modify_result_cases" class="button is-default is-medium" > تعديل التنبؤات </button>
              </center>
              <br>
            </div>

            <!-- left section -->
            <div class="column is-12">
                  <!--
                  in this section you will
                  find the necessary elements
                  for changing, and modifing
                  all the questions and it's
                  answers
                -->
                <!-- customize section   -->
                <div class="columns post-divs">
                  <div class="column loginDiv">

                      <div class="columns is-multiline">

                          <h1 class="column is-12" dir="rtl">
                            {{ title }} <span @click="titleInput = true;" class="button is-info edit-post-btn"><i class="fas fa-edit"></i></span>
                            <br><input v-if="titleInput" v-model="new_title_update" type="text" @keyup.prevent.enter="changeTitle">
                          </h1>
                          <div v-for="question in questions" class="column is-12 questionShowSec">
                          <br>

                              <!-- turn on/off -->
                              <div class="field">
                                  <b-switch ref="bSwitch" v-model="questions[questions.indexOf(question)].isNotMultiAnswers"
                                      true-value=""
                                      false-value="لا">
                                      {{ questions[questions.indexOf(question)].isNotMultiAnswers }} يقبل إجابة واحدة
                                  </b-switch>
                              </div>

                              <h2 class="quest_title" dir="rtl">
                                <!--  -->
                                <i @click="openInputForEditQuestion(questions.indexOf(question))" class="button is-default is-rounded"><i class="fas fa-edit"></i></i>
                                {{ question.question }}
                                <br>
                                <!--  -->
                                <input ref="quest_q" class="new-ans-class" type="text" @keyup.prevent.enter="changeQuest(questions.indexOf(question))" v-model="new_quest_update">
                              </h2>

                              <div v-for="answer in answers[questions.indexOf(question)]">
                                  <span ref="answer_a" class="answer" dir="rtl"> <!--@click="ansInput = true;"-->
                                    <i @click="activeInput(answer,answers[questions.indexOf(question)],questions.indexOf(question))" class="button is-default is-rounded"><i class="fas fa-edit"></i></i>
                                    <i v-if="answer[1]" @click="editAsBestAns($event,questions.indexOf(question),answers[questions.indexOf(question)].indexOf(answer))" id="btn-1" class="button fas fa-check is-default is-rounded">
                                      <!-- <i class="fas fa-check"></i> -->
                                    </i>
                                    <i v-if="!answer[1]" @click="editAsBestAns($event,questions.indexOf(question),answers[questions.indexOf(question)].indexOf(answer))" id="btn-1" class="button fas fa-times is-default is-rounded">
                                      <!-- <i class="fas fa-times"></i> -->
                                    </i>
                                    -  {{ answer[0] }}
                                    <input  ref="ss_input" class="new-ans-class" type="text" @keyup.prevent.enter="changeAnswer(questions.indexOf(question),answers[questions.indexOf(question)].indexOf(answer))" v-model="new_res_ans">
                                  </span>
                                  <br>
                              </div>

                              <br>
                          </div>

                      </div>

                  </div>
                </div>
            </div>


            <!--
            in this section of html
            you will the body wich
            contain all the necessary
            elements for creating the
            predicted answers form the
            user and the corresponding
            text message
            -->
            <!-- prediction answers section -->
            <div class="column is-12">
                <div v-if="open_result_cases" class="columns post-divs">
                  <div class="column is-1"></div>
                  <div class="column loginDiv">
                    <div class="columns is-multiline">

                    <b-message v-if="prepare_modifying_prediction" type="is-warning" class="nextCaseWarning" dir="rtl">
                        قم بتحديد التعديل
                    </b-message>
                    <div v-for="question in questions" class="column is-12">
                        <!-- question -->
                        <h2 class="show_title rtl"> {{ question.question }} </h2>
                            <ul>
                                <!-- answer -->
                                <li class="show_li rtl" v-for="answer in answers[questions.indexOf(question)]">

                                    <b-radio v-if="question.isNotMultiAnswers != 'لا'" v-model="answer_cases[answer_cases.length-1][questions.indexOf(question)]"
                                        :native-value="answer[0]">
                                        <!-- answers[questions.indexOf(question)].indexOf(answer) -->
                                        {{ answer[0] }}
                                    </b-radio>
                                    <b-checkbox v-if="question.isNotMultiAnswers == 'لا'" checked="false" v-model="answer_cases[answer_cases.length-1][questions.indexOf(question)]"
                                        :native-value="answer[0]">
                                        <!-- answers[questions.indexOf(question)].indexOf(answer) -->
                                        {{ answer[0] }}
                                    </b-checkbox>
                                </li>
                                <!-- end answer -->
                            </ul>
                    </div>

                    <b-message type="is-warning" class="nextCaseWarning" dir="rtl">
                        ملاحظة: يجب عليك تحديد النتيجة التي ستظهر لمستخدم الإختبار في حال كانت إجاباته حسب الحالة التي عينتها.
                    </b-message>

                    <div class="field toNextCaseFieldBtn">
                        <div class="control">
                        <button @click="open_default_text_message = true" type="button" class="button is-info" style="float:right" dir="rtl" name="button">
                            <span v-if="default_text_message.length == 0" class="is-danger m-l-10"><i class="fas fa-info-circle"></i></span>
                            <span v-if="default_text_message.length > 0" class="is-danger m-l-10"><i class="fas fa-check"></i></span>
                            <span> قم بتحديد النتيجة الإفتراضية </span>
                        </button>
                        </div>
                    </div>

                    <div v-if="open_default_text_message" class="field toNextCaseField">
                        <div class="control queTitle">
                        <textarea v-model="default_text_message" class="input nextCaseTextArea is-info" dir="rtl" placeholder=" في حال كانت إجابات المستخدم خارج كل توقعاتك، ستظهر له النتيجة التي ستكتبها هنا. ">
                        </textarea>
                        </div>
                    </div>

                    <div v-if="open_default_text_message" class="field toNextCaseFieldBtn">
                        <div class="control">
                        <button @click="open_default_text_message = false" type="button" class="button is-info" style="float:right" dir="rtl" name="button">
                            <span class="is-danger m-l-10"><i class="fas fa-save"></i></span>
                            <span> حفظ </span>
                        </button>
                        </div>
                    </div>

                    <div class="field toNextCaseField">
                        <div class="control queTitle">
                        <textarea v-model="text_message" class="input nextCaseTextArea" dir="rtl" placeholder="قم بكتابة شيء هنا.">
                        </textarea>
                        </div>
                    </div>

                    <div class="field toNextCaseFieldBtn">
                        <div class="control">
                            <button @click="initAnswerCases()" class="button is-primary is-large nextCaseBtn" dir="rtl"> حالة جديدة + </button>
                        </div>
                    </div>

                    </div>
                </div>
                  <div class="column is-1"></div>
                </div>
            </div>

            <!-- modify prediction answers section -->
            <div class="column is-12">
              <div v-if="toggleOpen_modify_result_cases" class="columns post-divs">
                <div class="column is-1"></div>
                <div class="column loginDiv">
                    <div class="columns is-multiline">

                    <!-- i used v-if to remove the last empty array in answer_cases -->
                    <div class="column is-12 is-relative" v-for="ans_case in answer_cases" v-if="ans_case[0].length">
                        <h1 dir="rtl"> التنبؤ رقم: {{ answer_cases.indexOf(ans_case) }} </h1><br>
                        <button @click="editPrediction(answer_cases.indexOf(ans_case))" class="button btnUpdatePrediction  is-primary"><i class="fas fa-pencil"></i></button>
                        <button @click="removePrediction(answer_cases.indexOf(ans_case))" class="button btnUpdatePrediction m-l-50 is-primary"><i class="fas fa-trash"></i></button>
                        <div v-for="question in ans_case">
                            <!-- question -->
                            <h2 class="show_title rtl"> {{ questions[ans_case.indexOf(question)].question }} </h2>
                                <ul>
                                    <!-- multi-answer -->
                                    <li class="show_li rtl" v-if="Array.isArray(question)" v-for="answer in question">{{ answer }}</li>
                                    <!-- one-answer -->
                                    <li class="show_li rtl" v-if="!Array.isArray(question)">{{ question }}</li>
                                </ul>
                        </div>
                        <br>

                        <b-message type="is-info" class="nextCaseWarning" style="text-align:right;" dir="rtl">
                            <b dir="rtl"> النتيجة:  </b>
                            {{ predicted_messages[answer_cases.indexOf(ans_case)] }}
                        </b-message>
                        <br>
                    </div>
                    </div>
                  </div>
                <div class="column is-1"></div>
              </div>
            </div>

        </div>
      </div>
    </dashboard>

  </div>
</template>

<script>

var quill;

export default {

  data(){
      return {
          quill: null,
          selected_category: null,
          open_quill_question_editor : false,
          errors : null,
          customize_sec : false,
          isComponentModalActive: false,
          isNotMultiAnswers : 'لا',// means: No
          current_question_id : 0,
          title : '',
          quest_content : '',
          quest_answer : '',
          questions : [],
          answers: [],
          finish: false,
          new_quest : true,
          isBest : false,
          checkClass : 'button is-primary addAns checkButt fas fa-check',
          liveShowAnswers : [],
          saveButt_isActive: false,
          error_empty_field : false,
          successStoring : false,
          faildStoring : false,
          allow_timer : false,
          current_question_seconds : 0,
          minutes : 0,
          seconds : 0,

          // tags selector
          data: [],
          name: '',
          selected: null,
          selected_tags: [],
          titleInput : false,
          //dont touch it : ansInput : false,
          last_index_for_active_input : null,
          questInput : false,
          new_title_update : '',
          new_quest_update : '',
          new_res_ans : '',
          backPicker : false,
          background : null,
          background_img : null,
          tmp_save_counter : 0,
          last_indserted_id : null,
          style_for_background : [
            /* 1 brown color
            'background: linear-gradient(to top, #605C3C, #3C3B3F);',
            // 2 orange coral
            `
              background: linear-gradient(to bottom, #f45625, rgb(212, 225, 91));
            `,*/
            // 3 mix of purple and brown
            `
              background: linear-gradient(to top, rgba(204, 83, 51, 0.57), rgb(35, 7, 77));
            `,
            `
              background: linear-gradient(to top, #38ef7d94, #11998e);
            `,
            `
              background-image: linear-gradient(to bottom, #e2315cc9 0%, #ffb199a3 100%);
            `,
            `
              background-image: linear-gradient(to bottom, #f83600ba 0%, #f9d4237d 100%);
            `
          ],
          style_for_background_imgs : [

            'background-image: url(images/backs/back_1.png)',
            'background-image: url(images/backs/back_2.png)',
            'background-image: url(images/backs/back_3.png)',
            'background-image: url(images/backs/back_4.png)',
            'background-image: url(images/backs/back_5.png)',
            'background-image: url(images/backs/back_6.png)',
            'background-image: url(images/backs/back_7.png)'

          ],
          counter : 0,
          checked_answers : [],

          // prediction properties
          default_text_message : "",
          prediction_index_for_modifying : null,
          toggleOpen_modify_result_cases : false,
          open_default_text_message : false,
          open_result_cases : false,
          predicted_messages : [],
          answer_cases : [[]], // mean prediction
          //end

          text_message : "",

          open_save_changes_button : false,
          prepare_modifying_prediction : false,

      }
  },

  mounted(){

      // this.getOldTags();
      // this.getOldCategories();
      //this.getTmpExamsExistance();
      if(this.$route.params.id && this.$route.params.title){
        this.getExam();
        this.open_save_changes_button = true;
        this.customize_sec = true;
      }else if(this.$route.params.id){
        this.getTmpExam();
        this.open_save_changes_button = true;
        this.customize_sec = true;
      }

      this.quill = new Quill(this.$refs.QuillArea, {
        modules: {
          syntax: true,
          toolbar: [
            [{ header: [2] }],
            ['code-block']
          ]
        },
        theme: 'snow',
        // readOnly: true,
        debug: false  // or 'bubble'
      });

  },

  methods:{
      // |
      // |
      // |
      // |
      // get data for update
      // |
      // |
      // |
      // |

      getTmpExam(){
        axios.get('/get_tmp_exam/'+this.$route.params.id).then(res => {
          // console.log(res.data);
          this.questions = JSON.parse(res.data[0].question);
          this.answers = JSON.parse(res.data[0].answer);
          this.title = res.data[0].title;
          this.last_indserted_id = res.data[0].id;
          this.current_question_id += this.questions.length;
          this.predicted_answers = JSON.parse(res.data[0].predicted_answers);
          this.predicted_messages = JSON.parse(res.data[0].predicted_messages);
        }).catch();
      },

      getExam(){
        axios.get('/getExam/'+this.$route.params.id).then(res => {
          // console.log(res.data);
          this.title = res.data[0].title;
          this.questions = JSON.parse(res.data[0].question);
          this.answers = JSON.parse(res.data[0].answer);
          this.selected_category = res.data[0].category;
          this.selected_tags = res.data[0].tags.split(" ");
          this.background = res.data[0].background;
          this.title = res.data[0].title;
          this.last_indserted_id = res.data[0].id;
          this.current_question_id += this.questions.length;
          this.answer_cases = JSON.parse(res.data[0].predicted_answers);
          this.predicted_messages = JSON.parse(res.data[0].predicted_messages);
        }).catch();
      },

      // |
      // |
      // |
      // |
      // update
      // |
      // |
      // |
      // |

      sendToDBForUpdate(){

        // convert seconds to a valid time (minutes and seconds)
        this.calculateTime();

        // start loading spinner
        const compLoad = this.$loading.open();

        //
        let with_prediction = 0;
        if(this.predicted_messages.length >1) with_prediction = 1;

        axios.post("/update_exam",{

          id : this.$route.params.id,
          title : this.title,
          questions : JSON.stringify(this.questions),
          answers : JSON.stringify(this.answers),
          timer : JSON.stringify({ minutes: this.minutes , seconds : this.seconds }),
          category : this.selected_category,
          tags :  JSON.stringify(this.selected_tags),
          // card back : image // background : css gradient image
          background : JSON.stringify({ card_back : this.background_img , background : this.background }),
          // with prediction (boolean: 0,1)
          with_prediction : with_prediction,
          predicted_answers : JSON.stringify(this.answer_cases),
          predicted_messages : JSON.stringify(this.predicted_messages)

        }).then(res  => {
          if(res.data){
              this.successStoring = true;
          }else{
              this.faildStoring = true;
          }
          compLoad.close();
        }).catch(err => {
          this.errors = err.response.data;
          this.faildStoring = true;
          compLoad.close();
          setTimeout(()=>{
            this.errors  = false;
          },5000);
        });
      },

      // |
      // |
      // |
      // |
      // some tasks : customize, toggle, ...etc
      // |
      // |
      // |
      // |

      toggleCustomize_sec(){
          if(this.customize_sec){
            this.customize_sec = false;
          }else{
            this.customize_sec = true;
          }
      },

      toggleOpen_result_cases(){
        if(this.open_result_cases){
          this.open_result_cases = false;
        }else{
          this.open_result_cases = true;
        }
      },

      getTmpExamsExistance(){
        axios.get('/get_tmp_exams_existance').then(response => {
          if(response.data > 0){
            this.$snackbar.open({
                duration: 360*5000,
                message: 'لديك إختبارات تحتاج الى إنهاء',
                type: 'is-danger',
                position: 'is-bottom-right',
                actionText: ' إنهاء الآن ',
                onAction: () => {
                    //this.$toast.open('Action pressed');
                    this.$router.push('/update_exams');
                }
            });
          }
        });
      },

      // |
      // |
      // |
      // |
      // get categories and tags
      // |
      // |
      // |
      // |

      // getOldCategories(){
      //     axios.get('/get_old_categories')
      //       .then(res => {
      //           if(res.status == 200){
      //               let arr = [];
      //               arr = res.data;
      //               arr.forEach(object => {
      //                   this.categories.push(object.category);
      //               });
      //           }
      //       })
      //       .catch(err => {
      //           console.log(err);
      //       });
      // },

      getOldTags(){
            axios.get('/get_old_tags')
            .then(res => {
                if(res.status == 200){
                    let arr = [];
                    arr = res.data;
                    arr.forEach(object => {
                        this.data.push(object.tag);
                    });
                }
            })
            .catch(err => {
                // console.log(err);
            });
      },

      // |
      // |
      // |
      // |
      // calculate time
      // |
      // |
      // |
      // |

      calculateTime(){
          if(this.seconds > 60){
            let time = this.seconds/60;
            this.minutes = parseInt(time);
            this.seconds = parseInt((time - this.minutes)*100);
          }
      },

      // |
      // |
      // |
      // |
      // jump form question to question until the end
      // |
      // |
      // |
      // |

      toNext(){
        // console.log(this.$refs.bSwitch);
        if(this.$refs.question){
          this.$refs.question.focus();
        }


        // when the current_question_id == 0 means that we are in the title section
        if(this.title == '' && this.selected_tags.length == 0 && this.selected_category == null){
            // show the error alert
             this.error_empty_field = true;
        }else{

            // finish belongs to the first step "initiliazing the title, category and tags"
            if(!this.finish){
                this.finish = true;
            }else{

                // test whether we want to skip initializing "title"
                if(!this.quest_content && !this.open_quill_question_editor){
                    // show the error alert
                    this.error_empty_field = true;
                }else{

                    if(this.answers.length == 0 || this.answers[this.current_question_id].length == 0){
                        // show the error alert
                        this.error_empty_field = true;
                    }else{
                        // in case of simple question
                        if(!this.open_quill_question_editor){
                          this.questions[this.current_question_id] = {
                              question :this.quest_content,
                              isNotMultiAnswers:this.isNotMultiAnswers
                          };

                        // in case of block of code (text)
                        }else{
                          this.questions[this.current_question_id] = {
                              question :JSON.stringify(this.quill.getContents()),
                              isNotMultiAnswers:this.isNotMultiAnswers
                          };
                        }

                        this.quest_content = '';
                        this.quill.setContents();
                        this.current_question_id++;
                        this.new_quest = true;
                        this.saveButt_isActive = true;
                        this.seconds += Number(this.current_question_seconds);
                        this.current_question_seconds = 0;
                        this.answer_cases[this.answer_cases.length-1].push([]);
                        this.tmp_save_counter++;

                        if(this.tmp_save_counter == 1){
                          this.sendToDBTmpSave();
                          this.tmp_save_counter = 0;
                        }
                    }

                }
            }
        }

        this.closeErrorAlert();
        this.liveShowAnswers = [];
        this.isNotMultiAnswers = 'لا';

        // prepare for user answer predictions
        if(this.checked_answers.length != this.questions.length){
          let i = 0
          for( i ; i< (this.questions.length-this.checked_answers.length) ; i++ ){
            this.checked_answers.push([]);
          }
        }

      },

      // |
      // |
      // |
      // |
      // add answer
      // |
      // |
      // |
      // |

      addAns(){

          if(this.isNotMultiAnswers == 'لا'){
              this.checkClass = 'button is-primary addAns checkButt fas fa-check';
          }

          if(this.quest_content || this.open_quill_question_editor){
              /*
                the answer will be like:
                answer = ['here is the content',0]
                0 means that this is not the best answer
                1 means that this is the best answer
              */

              if(this.new_quest){
                  this.answers[this.current_question_id] = [];
                  this.new_quest = false;
              }

              if(this.isBest == true && this.isNotMultiAnswers != 'لا'){
                this.checkClass = 'button is-primary is-static addAns checkButt fas fa-check'
              }

              this.answers[this.current_question_id].push([this.quest_answer,this.isBest]);
              this.liveShowAnswers.push([this.quest_answer,this.isBest]);
              this.quest_answer = '';

          }else{
              // show error alert
              this.error_empty_field = true;
          }

          this.isBest = false;

        this.closeErrorAlert();

      },

      checkBestAnswer(){
          this.$refs.answer_input.focus();
          if(this.checkClass == 'button is-primary addAns checkButt fas fa-check'){
              this.checkClass = 'button is-black addAns checkButt fas fa-undo-alt';
              this.isBest = true;
          }else{
              this.checkClass = 'button is-primary addAns checkButt fas fa-check';
              this.isBest = false;
          }
      },

      // |
      // |
      // |
      // |
      // error alert
      // |
      // |
      // |
      // |

      closeErrorAlert(){
        setTimeout(()=>{
            this.error_empty_field = false;
        },5000);
      },

      sendToDBTmpSave(){
        this.calculateTime();
        axios.post('/saveTmpExam',{
           title : this.title,
           questions : JSON.stringify(this.questions),
           answers : JSON.stringify(this.answers),
           timer : JSON.stringify({ minutes: this.minutes , seconds : this.seconds }),
           category : this.selected_category,
           tags :  JSON.stringify(this.selected_tags),
           background : JSON.stringify({ card_back : this.background_img , background : this.background }),
           id : this.$route.params.id
        }).then(response => {
           this.last_indserted_id = response.data;
        });
      },

      prepareAnswerCases(){
        let str = "";
        let i = 0;
        let j;
        for(i ; i<this.checked_answers.length ; i++){

          if(this.checked_answers[i].answer_id != undefined){
            str += ""+this.checked_answers[i].answer_id+"";
          }else{
            for(j = 0;j<this.checked_answers[i].length;j++){
              str += ""+this.checked_answers[i][j].answer_id+"";
            }
          }

        }

        return str;
      },

      sendToDB(){
          // close background picker
          this.backPicker = false;

          // calculate minutes and seconds
          this.calculateTime();

          // start loading spinner
          const compLoad = this.$loading.open();

          // means no predictions
          let with_prediction = "0";

          // check wether a cases were set up
          if(this.answer_cases.length > 1) with_prediction = 1;
          //   this.predicted_answers = [];
          //   this.predicted_messages = [];
          // }

          // push the default message to the predicted messages
          this.predicted_messages.push(this.default_text_message);

          axios.post('/createExam',{
             title : this.title,
             questions : JSON.stringify(this.questions),
             answers : JSON.stringify(this.answers),
             timer : JSON.stringify({ minutes: this.minutes , seconds : this.seconds }),
             category : this.selected_category,
             tags :  JSON.stringify(this.selected_tags),
             // card back : image // background : css gradient image
             background : JSON.stringify({ card_back : this.background_img , background : this.background }),
             id : this.last_indserted_id,
             // with prediction (boolean: 0,1)
             with_prediction : with_prediction,
             predicted_answers : JSON.stringify(this.answer_cases),
             predicted_messages : JSON.stringify(this.predicted_messages)
          }).then(response => {
              if(response.data){
                  this.successStoring = true;
              }else{
                  this.faildStoring = true;
              }
              compLoad.close();
          }).catch(err => {
              compLoad.close();
              this.faildStoring = true;
          })
      },

      remove(title){
        let index = this.liveShowAnswers.indexOf(title);
        this.liveShowAnswers.splice(index,1);
        this.answers[this.answers.length-1].splice(index,1);
      },

      addTag(value){
          this.name = "";
          if(value && value.length > 0 && this.selected_tags.indexOf(value) == -1){
              this.selected_tags.push(value);
          }
      },

      removeTagAndClose(value){
          let index = this.selected_tags.indexOf(value);
          this.selected_tags.splice(index,1);
      },

      removePrediction(index){
        this.answer_cases.splice(index,1);
        this.predicted_messages.splice(index,1);
        // console.log(this.answer_cases);
        // console.log(this.predicted_messages);
      },

      editPrediction(index){
        this.prepare_modifying_prediction = true;
        this.toggleOpen_modify_result_cases = false;
        this.open_result_cases = true;
        this.prediction_index_for_modifying = index;
      },

      // |
      // |
      // |
      // |
      // modify data
      // |
      // |
      // |
      // |
      changeTitle(){
        this.title = this.new_title_update;
        this.new_title_update = '';
      },

      changeAnswer(first_index,seconds_index){
        this.answers[first_index][seconds_index][0] = this.new_res_ans;
        this.new_res_ans = '';
      },

      openInputForEditQuestion(quest_index){
          this.$refs.quest_q[quest_index].style = "display:block;opacity:1;";
          this.$refs.quest_q[quest_index].focus();
      },

      editAsBestAns(event_,quest_index,ans_index){

        if(!this.answers[quest_index][ans_index][1]){
          event_.target.className = "button fas fa-check is-default is-rounded";
          this.answers[quest_index][ans_index][1] = true;
        }else{
          event_.target.className = "button fas fa-times is-default is-rounded";
          this.answers[quest_index][ans_index][1] = false;
        }

      },

      changeQuest(index){
        this.questions[index].question = this.new_quest_update;
        this.new_quest_update = '';
      },

      // |
      // |
      // |
      // |
      // background, active input ...etc
      // |
      // |
      // |
      // |

      saveBackPicker(style){
        this.background = style;
      },

      saveBackPickerImg(style){
        this.background_img = style;
      },

      activeInput(answer,answers,quest_index){

        if(this.last_index_for_active_input != null) this.$refs.ss_input[this.last_index_for_active_input].style.display = "none";

        let i = 0;
        let counter = 0;
        while(i != quest_index){
          counter += this.answers[i].length;
          i++;
        }
        // console.log(counter);
        let index =  counter + answers.indexOf(answer);
        // console.log(answers.indexOf(answer));
        this.$refs.ss_input[index].style.display = "block";
        this.$refs.ss_input[index].style.opacity = 1;
        this.last_index_for_active_input = index;
        this.$refs.ss_input[index].focus();

      },

      initAnswerCases(){
        this.answer_cases.push([]);
        this.predicted_messages.push(this.text_message);
        this.text_message = "";

        if(this.prediction_index_for_modifying != null){
          this.answer_cases.splice(this.prediction_index_for_modifying,1);
          this.predicted_messages.splice(this.prediction_index_for_modifying,1);
          this.open_result_cases = false;
          this.toggleOpen_modify_result_cases = true;
          this.prepare_modifying_prediction = false;
          this.prediction_index_for_modifying = null;
        }

        let number_of_questions = this.answer_cases[0].length;
        let i = 0;
        for( i ; i < number_of_questions ; i++ ){
          this.answer_cases[this.answer_cases.length-1].push([]);
        }

      }

  },

  computed: {

      // |
      // |
      // |
      // |
      // for tags
      // |
      // |
      // |
      // |

      filteredDataArray() {
          return this.data.filter((option) => {
              return option
                  .toString()
                  .toLowerCase()
                  .indexOf(this.name.toLowerCase()) >= 0
          })
      }
  },
}


/*

<br><br>
<div class="container" id="login">

  <!-- create post
  |
  |
  |
  |
  |
  |
  -->

  <div class="container columns is-multiline">

      <div class="column is-12">
          <div class="columns post-divs">
              <div class="column is-1"></div>
              <div style="margin-bottom:0px;" class="column loginDiv">

                <!-- choose background modal
                |
                |
                |
                |
                |
                |
                -->
                <div class="columns is-multiline" v-if="backPicker">

                    <header class="column is-12 change_back_header">
                      <p class=""></p>
                      <button class="delete" @click="backPicker = false" aria-label="close"></button>
                    </header>
                    <section class="column is-6">

                      <div class="card" style="box-shadow: 0 8px 19px #d4d4d4;" :style="background_img">
                        <!-- :style="getBackForCardContent()" -->
                        <div id="cardcontent" class="card-content" :style="background">
                          <span class="category-span">
                            <router-link to="#">
                                التصنيف التجريبي
                            </router-link>
                          </span>
                          <h1 ref="titlecustomizing" class="title" dir="rtl" align="center" style="border:none">
                             عنوان تجريبي
                          </h1>

                        </div>
                        <footer class="card-footer">
                          <p class="card-footer-item item-1">
                            <span>
                              <a> إجتياز الآن </a>
                            </span>
                          </p>
                          <p class="card-footer-item">
                            <span>
                              <a>ذكرني لاحقا</a>
                            </span>
                          </p>
                        </footer>

                      </div>

                    </section>
                    <section class="column is-2-desktop is-6 select_back_section">
                      <div @click="saveBackPicker(style)" class="back-class" v-for="style in style_for_background" :style="style">
                      </div>
                    </section>
                    <section data-simplebar class="column is-2-desktop is-6 select_back_section">
                      <div @click="saveBackPickerImg(style)" class="back-class" v-for="style in style_for_background_imgs" :style="style">
                      </div>
                    </section>
                    <footer class="">
                      <button v-if="!open_save_changes_button" class="button is-large radius-0 is-primary" @click="sendToDB">حفظ</button>
                      <button v-if="open_save_changes_button" class="button is-large radius-0 is-primary" @click="backPicker = false">إغلاق</button>
                    </footer>

                </div>

                  <div v-if="!successStoring" class="columns">
                      <div @submit.prevent="" class="column">
                          <!--  -->
                          <h1 style="text-align:right"> إنشاء إختبار </h1>
                          <!-- error  -->
                          <div v-if="error_empty_field" class="field">
                              <span class="alert is-danger" style="padding:5px;">تأكد من ملئ جميع البيانات</span>
                          </div>

                          <div class="field p-0 Quill-container p-t-0 m-t-0" ref="QuillContainer" style="display:none;">
                            <span class="button is-primary is-rounded is-meduim" @click="open_quill_question_editor = false;$refs.QuillContainer.style.display = 'none';"> سؤال عادي </span>
                            <div ref="QuillArea"></div>
                          </div>

                          <!-- first step : title, category, tags -->
                          <div v-if="!finish">
                            <div class="field" v-if="!finish">
                                <div class="control">
                                <input type="text" maxlength="50" v-model="title" placeholder=" عنوان الإختبار " autofocus>
                                </div>
                            </div>

                            <div class="field column is-12 p-0" style="margin-bottom:50px;" dir="rtl">
                                <div class="control">
                                    <!-- b-select  -->
                                    <category-selector v-model="selected_category" label="التصنيف" placeholder="مثلا: php, java, حاسوب..."></category-selector>
                                </div>
                            </div>

                            <div v-if="false" class="field">
                                <div class="control">
                                    <section>
                                        <b-field dir="rtl" label="أدخل أوسمة محرك البحث :">
                                            <b-autocomplete
                                                v-model="name"
                                                :data="filteredDataArray"
                                                placeholder="مثال: إختبار شخصية"
                                                @select="option => addTag(option)">
                                                <template slot="empty">لم نجد أي نتائج</template>
                                            </b-autocomplete>
                                        </b-field>
                                    </section>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <div class="field tags-container">
                                        <div v-for="tag in selected_tags">
                                            <b-tag
                                                type="is-primary"
                                                closable
                                                @close="removeTagAndClose(tag)">
                                                {{ tag }}
                                            </b-tag>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>

                          <!-- second step: question/answer, time -->
                          <div v-if="finish">
                              <!-- question -->
                              <div v-show="!open_quill_question_editor" class="field">
                                  <div class="control queTitle">
                                      <span >{{ current_question_id }}</span> <span class="button is-primary is-meduim" @click="open_quill_question_editor = true;$refs.QuillContainer.style.display = 'block'">نص</span>
                                      <input type="text" @keyup.enter="$refs.answer_input.focus()" ref="question" v-model="quest_content" placeholder=" سؤال " autofocus>
                                  </div>
                              </div>

                              <!-- turn on/off -->
                              <div class="field m-t-20">
                                  <b-switch v-model="isNotMultiAnswers"
                                      true-value=""
                                      false-value="لا">
                                      {{ isNotMultiAnswers }} يقبل إجابة واحدة
                                  </b-switch>
                              </div>
                              <!-- answer -->
                              <div class="field">
                                  <div class="control queTitle">
                                      <span >{{ liveShowAnswers.length }}</span>
                                      <input @keydown.left="checkBestAnswer" @keydown.enter="addAns" @keydown.down="toNext" @keydown.up="isNotMultiAnswers = ''" ref="answer_input" type="text" v-model="quest_answer" placeholder=" جواب " autofocus>
                                  </div>
                              </div>
                              <!-- ans button -->
                              <div class="field">
                                  <div class="control">
                                      <span @click="addAns" class="button is-primary addAns"><i class="fas fa-plus"></i></span>
                                  </div>
                              </div>
                              <!-- ans button 2 -->
                              <div class="field">
                                  <div class="control">
                                      <i @click="checkBestAnswer" :class="checkClass"></i>
                                  </div>
                              </div>
                              <!-- live show answers -->
                              <div v-for="answer in liveShowAnswers" class="m-t-20">
                                  <span class="button is-danger is-rounded" @click="remove(answer[0])"><i class="fas fa-trash"></i></span>
                                  <span>
                                      {{ answer[0] }} - <i v-if="answer[1]" class="fas fa-check"></i> <i v-if="!answer[1]" class="fas fa-close"></i>
                                  </span>
                              </div>
                              <!-- active time -->
                              <div class="field ">
                                  <div class="control text-right txt-right">
                                      <span ref="activeTime" @click="allow_timer = true;$refs.activeTime.setAttribute('class','is-hidden')" class="button is-primary is-default">تفعيل الوقت</span>
                                  </div>
                              </div>

                              <!-- timer initialization -->
                              <div v-if="allow_timer" class="field">
                                  <div class="columns rtl">
                                      <div class="column is-6">
                                          <div class="control">
                                              <div class="columns">

                                                  <div class="column is-half field">
                                                      <label class="label"> عدد الثواني لهذا السؤال </label>
                                                      <div class="control">
                                                          <input v-model="current_question_seconds" type="number" class="input">
                                                      </div>
                                                  </div>
                                                  <div class="column"></div>

                                              </div>
                                          </div>
                                      </div>
                                      <div class="column">

                                      </div>
                                  </div>
                              </div>
                          </div>

                          <!-- buttons : next, end -->
                          <div class="columns">
                              <div class="column is-3 field">
                                  <button @click="toNext" class="button is-primary is-large nextButt">
                                      التالي
                                  </button>
                              </div>
                              <div v-if="saveButt_isActive && !open_save_changes_button" class="column is-3 field">
                                  <button @click="backPicker = true" class="button is-primary is-large nextButt">
                                      إنهاء
                                  </button>
                              </div>
                              <div class="column is-3 field">
                                  <button :style="background" v-if="open_save_changes_button" @click="backPicker = true" class="button is-primary is-large nextButt">
                                      تغيير الخلفية
                                  </button>
                              </div>
                              <div class="column">
                              </div>
                          </div>

                          <!-- error message -->
                          <div class="field" v-if="faildStoring">
                              <div class="control">
                                  <span class="alert is-danger"> حدث خطأ ما، قم بالضغط على زر الإنهاء مرة أخرى </span>
                              </div>
                          </div>

                          <!-- error message -->
                          <div class="field" v-if="errors" v-for="err in errors">
                              <div class="control">
                                  <span class="alert is-danger" dir="rtl"> {{ err[0] }} </span><br>
                              </div>
                          </div>

                      </div>

                  </div>

                  <!-- success storing message -->
                  <div v-if="successStoring" class="columns">
                      <div class="column">
                          <span class="alert is-success">تم إنشاء إختبارك، بإمكانك التعديل عليه بالأسفل أو</span>
                          <router-link to="/"> الذهاب الى صفحة الإختبار </router-link>
                      </div>
                  </div>

              </div>
              <div class="column is-1"></div>
          </div>
      </div>

      <div class="column is-12">
        <!-- there is two buttons here  -->
        <center>
          <button v-if="open_save_changes_button" @click="sendToDBForUpdate()" class="button is-dark is-medium"> حفظ التعديلات </button>
          <button @click="toggleCustomize_sec" class="button is-default is-medium"> معاينة </button>
          <button v-if="questions.length>0" @click="toggleOpen_result_cases" class="button is-default is-medium">  تعيين التنبؤات  </button>
          <button v-if="answer_cases[0].length>1" @click="toggleOpen_modify_result_cases = !toggleOpen_modify_result_cases" class="button is-default is-medium" > تعديل التنبؤات </button>
        </center>
        <br>
      </div>

      <!-- left section -->
      <div class="column is-12">
            <!--
            in this section you will
            find the necessary elements
            for changing, and modifing
            all the questions and it's
            answers
          -->
          <!-- customize section   -->
          <div class="columns post-divs">
            <div class="column is-1"></div>
            <div class="column loginDiv">

                <div class="columns is-multiline">

                    <h1 class="column is-12" dir="rtl">
                      {{ title }} <span @click="titleInput = true;" class="button is-info edit-post-btn"><i class="fas fa-edit"></i></span>
                      <br><input v-if="titleInput" v-model="new_title_update" type="text" @keyup.prevent.enter="changeTitle">
                    </h1>
                    <div v-for="question in questions" class="column is-12 questionShowSec">
                    <br>

                        <!-- turn on/off -->
                        <div class="field">
                            <b-switch ref="bSwitch" v-model="questions[questions.indexOf(question)].isNotMultiAnswers"
                                true-value=""
                                false-value="لا">
                                {{ questions[questions.indexOf(question)].isNotMultiAnswers }} يقبل إجابة واحدة
                            </b-switch>
                        </div>

                        <h2 class="quest_title" dir="rtl">
                          <!--  -->
                          <i @click="openInputForEditQuestion(questions.indexOf(question))" class="button is-default is-rounded"><i class="fas fa-edit"></i></i>
                          {{ question.question }}
                          <br>
                          <!--  -->
                          <input ref="quest_q" class="new-ans-class" type="text" @keyup.prevent.enter="changeQuest(questions.indexOf(question))" v-model="new_quest_update">
                        </h2>

                        <div v-for="answer in answers[questions.indexOf(question)]">
                            <span ref="answer_a" class="answer" dir="rtl"> <!--@click="ansInput = true;"-->
                              <i @click="activeInput(answer,answers[questions.indexOf(question)],questions.indexOf(question))" class="button is-default is-rounded"><i class="fas fa-edit"></i></i>
                              <i v-if="answer[1]" @click="editAsBestAns($event,questions.indexOf(question),answers[questions.indexOf(question)].indexOf(answer))" id="btn-1" class="button fas fa-check is-default is-rounded">
                                <!-- <i class="fas fa-check"></i> -->
                              </i>
                              <i v-if="!answer[1]" @click="editAsBestAns($event,questions.indexOf(question),answers[questions.indexOf(question)].indexOf(answer))" id="btn-1" class="button fas fa-times is-default is-rounded">
                                <!-- <i class="fas fa-times"></i> -->
                              </i>
                              -  {{ answer[0] }}
                              <input  ref="ss_input" class="new-ans-class" type="text" @keyup.prevent.enter="changeAnswer(questions.indexOf(question),answers[questions.indexOf(question)].indexOf(answer))" v-model="new_res_ans">
                            </span>
                            <br>
                        </div>

                        <br>
                    </div>

                </div>

            </div>
            <div class="column is-1"></div>
          </div>
      </div>


      <!--
      in this section of html
      you will the body wich
      contain all the necessary
      elements for creating the
      predicted answers form the
      user and the corresponding
      text message
      -->
      <!-- prediction answers section -->
      <div class="column is-12">
          <div v-if="open_result_cases" class="columns post-divs">
            <div class="column is-1"></div>
            <div class="column loginDiv">
              <div class="columns is-multiline">

              <b-message v-if="prepare_modifying_prediction" type="is-warning" class="nextCaseWarning" dir="rtl">
                  قم بتحديد التعديل
              </b-message>
              <div v-for="question in questions" class="column is-12">
                  <!-- question -->
                  <h2 class="show_title rtl"> {{ question.question }} </h2>
                      <ul>
                          <!-- answer -->
                          <li class="show_li rtl" v-for="answer in answers[questions.indexOf(question)]">

                              <b-radio v-if="question.isNotMultiAnswers != 'لا'" v-model="answer_cases[answer_cases.length-1][questions.indexOf(question)]"
                                  :native-value="answer[0]">
                                  <!-- answers[questions.indexOf(question)].indexOf(answer) -->
                                  {{ answer[0] }}
                              </b-radio>
                              <b-checkbox v-if="question.isNotMultiAnswers == 'لا'" checked="false" v-model="answer_cases[answer_cases.length-1][questions.indexOf(question)]"
                                  :native-value="answer[0]">
                                  <!-- answers[questions.indexOf(question)].indexOf(answer) -->
                                  {{ answer[0] }}
                              </b-checkbox>
                          </li>
                          <!-- end answer -->
                      </ul>
              </div>

              <b-message type="is-warning" class="nextCaseWarning" dir="rtl">
                  ملاحظة: يجب عليك تحديد النتيجة التي ستظهر لمستخدم الإختبار في حال كانت إجاباته حسب الحالة التي عينتها.
              </b-message>

              <div class="field toNextCaseFieldBtn">
                  <div class="control">
                  <button @click="open_default_text_message = true" type="button" class="button is-info" style="float:right" dir="rtl" name="button">
                      <span v-if="default_text_message.length == 0" class="is-danger m-l-10"><i class="fas fa-info-circle"></i></span>
                      <span v-if="default_text_message.length > 0" class="is-danger m-l-10"><i class="fas fa-check"></i></span>
                      <span> قم بتحديد النتيجة الإفتراضية </span>
                  </button>
                  </div>
              </div>

              <div v-if="open_default_text_message" class="field toNextCaseField">
                  <div class="control queTitle">
                  <textarea v-model="default_text_message" class="input nextCaseTextArea is-info" dir="rtl" placeholder=" في حال كانت إجابات المستخدم خارج كل توقعاتك، ستظهر له النتيجة التي ستكتبها هنا. ">
                  </textarea>
                  </div>
              </div>

              <div v-if="open_default_text_message" class="field toNextCaseFieldBtn">
                  <div class="control">
                  <button @click="open_default_text_message = false" type="button" class="button is-info" style="float:right" dir="rtl" name="button">
                      <span class="is-danger m-l-10"><i class="fas fa-save"></i></span>
                      <span> حفظ </span>
                  </button>
                  </div>
              </div>

              <div class="field toNextCaseField">
                  <div class="control queTitle">
                  <textarea v-model="text_message" class="input nextCaseTextArea" dir="rtl" placeholder="قم بكتابة شيء هنا.">
                  </textarea>
                  </div>
              </div>

              <div class="field toNextCaseFieldBtn">
                  <div class="control">
                      <button @click="initAnswerCases()" class="button is-primary is-large nextCaseBtn" dir="rtl"> حالة جديدة + </button>
                  </div>
              </div>

              </div>
          </div>
            <div class="column is-1"></div>
          </div>
      </div>

      <!-- modify prediction answers section -->
      <div class="column is-12">
        <div v-if="toggleOpen_modify_result_cases" class="columns post-divs">
          <div class="column is-1"></div>
          <div class="column loginDiv">
              <div class="columns is-multiline">

              <!-- i used v-if to remove the last empty array in answer_cases -->
              <div class="column is-12 is-relative" v-for="ans_case in answer_cases" v-if="ans_case[0].length">
                  <h1 dir="rtl"> التنبؤ رقم: {{ answer_cases.indexOf(ans_case) }} </h1><br>
                  <button @click="editPrediction(answer_cases.indexOf(ans_case))" class="button btnUpdatePrediction  is-primary"><i class="fas fa-pencil"></i></button>
                  <button @click="removePrediction(answer_cases.indexOf(ans_case))" class="button btnUpdatePrediction m-l-50 is-primary"><i class="fas fa-trash"></i></button>
                  <div v-for="question in ans_case">
                      <!-- question -->
                      <h2 class="show_title rtl"> {{ questions[ans_case.indexOf(question)].question }} </h2>
                          <ul>
                              <!-- multi-answer -->
                              <li class="show_li rtl" v-if="Array.isArray(question)" v-for="answer in question">{{ answer }}</li>
                              <!-- one-answer -->
                              <li class="show_li rtl" v-if="!Array.isArray(question)">{{ question }}</li>
                          </ul>
                  </div>
                  <br>

                  <b-message type="is-info" class="nextCaseWarning" style="text-align:right;" dir="rtl">
                      <b dir="rtl"> النتيجة:  </b>
                      {{ predicted_messages[answer_cases.indexOf(ans_case)] }}
                  </b-message>
                  <br>
              </div>
              </div>
            </div>
          <div class="column is-1"></div>
        </div>
      </div>

  </div>

</div>
</div>

*/




</script>
