<template lang="html">
  <div id="root">
    <nav-component></nav-component>
    <br><br><br><br><br><br>

    <dashboard>
      <div class="column is-9" dir="ltr">
        <div class="column loginDiv m-r-l-12">

            <div class="columns is-multiline">

                <div class="column is-12">

                    <h1 class="txt-right"> المشاركات/الأسئلة </h1>
                    <table dir="rtl" v-if="show_questions" class="table">

                        <thead>
                            <tr>
                                <th> العنوان </th>
                                <th> التصنيف </th>
                                <th> تاريخ النشر </th>
                                <th> # </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="question in questions">

                                <td>
                                  <a :href="'/questions'+question.id+'/'+question.title.replace(/[\/\\\s]/g,'-')">
                                    {{ question.title }}
                                  </a>
                                </td>

                                <td>
                                  {{ question.category }}
                                </td>

                                <td>
                                  {{ moment.utc(question.created_at).fromNow() }}
                                </td>

                                <td>
                                  <span @click="removeQuestion(question.id)" class="button is-small is-dark">
                                    <i class="fas fa-trash"></i>
                                  </span>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    <div v-if="show_questions" class="column is-12 text-center">
                        <span ref="more_btn" @click="getAllQuestions()" class="button is-dark"> المزيد </span>
                    </div>
                    <div v-if="!show_questions" class="text-center">
                        <span @click="show_questions = true;getAllQuestions()" class="button is-default"> عرض الكل </span>
                    </div>

                </div>

            </div>

        </div>

      </div>
    </dashboard>

  </div>
</template>

<script>
export default {

  data(){
    return {
      moment,
      show_questions: false,
      questions: [],
    }
  },

  mounted(){
    // this.getAllQuestions();
  },

  methods: {
    getAllQuestions(){
      axios.get('/get_all_questions/'+this.questions.length)
      .then(res => {
        if(!res.data.length) this.$refs.more_btn.className += ' is-static';
        this.questions = this.questions.concat(res.data);
        NProgress.done();
      })
      .catch(err => {
        // console.log(err);
      });
    },

    removeQuestion(id){
      this.$dialog.confirm({
          title: 'عملية حذف',
          message: ' هل حقا تود إجراء عملية الحذف ؟ ',
          confirmText: 'حذف',
          cancelText:'إلغاء ',
          type: 'is-danger',
          hasIcon: false,
          onConfirm: () => {
            axios.post('/remove_question/'+id)
            .then(res => {
              if(res.status == 200) {
                this.removeDeletedQuestion(id);
                this.$toast.open({
                    duration: 5000,
                    message: `تم حذف السؤال`,
                    position: 'is-bottom',
                    type: 'is-dark'
                })
              }
            })
            .catch(err => {

            });
          }
      })
    },

    removeDeletedQuestion(id){
      let i = 0;
      for(i;i<this.questions.length;i++){
        if(this.questions[i].id == id){
            this.questions.splice(i,1);
        }
      }
    },
  }

}
</script>

<style lang="css">
</style>
