<template lang="html">
  <div class="root">

    <nav-component></nav-component>
    <br><br><br><br><br>

    <div class="container">
      <div class="columns is-multiline">

        <div class="column is-1">
        </div>

        <div class="column">
          <div class="loginDiv">

            <h1> تعديل البيانات </h1>

            <div class="column is-12 post-label m-t-25">
              <label> إسم المستخدم: </label>
            </div>

            <div class="field">
              <div class="control">
                <input type="text" v-model="user_info.username" placeholder=" username ">
              </div>
            </div>

            <div class="column is-12 post-label m-t-25">
              <label> الدولة: </label>
            </div>

            <div class="field">
              <div class="control">
                <select ref="selectCountry" class="input" v-model="user_info.username">

                </select>
              </div>
            </div>

            <div class="column is-12 post-label m-t-25">
              <label> الوصف الشخصي: </label>
            </div>

            <div class="field">
              <div class="control">
                <textarea class="input" style="height:150px;resize:vertical" v-model="user_info.username" placeholder=" description ">
                </textarea>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <span class="button is-primary"> submit </span>
              </div>
            </div>

          </div>
        </div>


        <div class="column is-1">
        </div>


      </div>
    </div>

  </div>
</template>

<script>
export default {
  data(){
    return {
      user_info : {
        username: null,
        country : null,
      }
    }
  },

  mounted(){
    this.$refs.selectCountry.innerHTML = this.$store.getters.lang.countries;
  }
}
</script>
