<template>
 <div id="login_root">
    <nav-component></nav-component>
    <br><br><br><br><br><br>

      <div class="container-fluid" id="login">

        <!-- choose background modal -->
        <div class="modal" style="display:block;z-index:5000;" v-if="backPicker">
          <div class="modal-background"></div>
          <div class="modal-card backPicker-modal">
            <header class="modal-card-head">
              <p class="modal-card-title"></p>
              <button class="delete" @click="backPicker = false" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
              <div @click="saveBackPicker(style)" class="back-class" v-for="style in style_for_background" :style="style">

              </div>
            </section>
            <footer class="modal-card-foot">
              <button class="button is-large radius-0 is-primary" @click="sendToDB">حفظ</button>
              <button class="button is-large radius-0 is-dark" :style="background"> الخلفية </button>
            </footer>
          </div>
        </div>

          <div class="container">

            <div class="columns post-divs">

                <div class="column is-1">
                </div>

                <div class="column loginDiv m-r-l-12">

                    <div v-if="!successStoring" class="columns">
                        <div @submit.prevent="" class="column">
                            <!--  -->
                            <h1 style="text-align:right"> إنشاء إختبار </h1>
                            <!-- error  -->
                            <div v-if="error_empty_field" class="field">
                                <span class="alert is-danger" style="padding:5px;">تأكد من ملئ جميع البيانات</span>
                            </div>

                            <!-- first step : title, category, tags -->
                            <div v-if="!finish">
                              <div class="field" v-if="!finish">
                                  <div class="control">
                                  <input type="text" v-model="title" placeholder=" عنوان الإختبار " autofocus>
                                  </div>
                              </div>

                              <div class="field" dir="rtl">
                                  <div class="control">
                                      <b-field
                                          label="التصنيف :">
                                          <b-select v-model="selected_category" size="is-large" class="select-cat" placeholder="إختر تصنيف" expanded>
                                              <option v-for="cat in categories" :value="cat">{{ cat }}</option>
                                          </b-select>
                                      </b-field>
                                  </div>
                              </div>

                              <div class="field">
                                  <div class="control">
                                      <section>
                                          <b-field dir="rtl" label="أدخل أوسمة محرك البحث :">
                                              <b-autocomplete
                                                  v-model="name"
                                                  :data="filteredDataArray"
                                                  placeholder="مثال: إختبار شخصية"
                                                  @select="option => addTag(option)">
                                                  <template slot="empty">لم نجد أي نتائج</template>
                                              </b-autocomplete>
                                          </b-field>
                                      </section>
                                  </div>
                              </div>

                              <div class="field">
                                  <div class="control">
                                      <div class="field tags-container">
                                          <div v-for="tag in selected_tags">
                                              <b-tag
                                                  type="is-primary"
                                                  closable
                                                  @close="removeTagAndClose(tag)">
                                                  {{ tag }}
                                              </b-tag>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>

                            <!-- second step: question/answer, time -->
                            <div v-if="finish">
                                <!-- question -->
                                <div class="field">
                                    <div class="control queTitle">
                                        <span >{{ current_question_id }}</span>
                                        <input type="text" v-model="quest_content" placeholder=" سؤال " autofocus>
                                    </div>
                                </div>
                                <!-- turn on/off -->
                                <div class="field m-t-20">
                                    <b-switch v-model="isNotMultiAnswers"
                                        true-value=""
                                        false-value="لا">
                                        {{ isNotMultiAnswers }} يقبل إجابة واحدة
                                    </b-switch>
                                </div>
                                <!-- answer -->
                                <div class="field">
                                    <div class="control queTitle">
                                        <span >{{ liveShowAnswers.length }}</span>
                                        <input @keyup.prevent.enter="" type="text" v-model="quest_answer" placeholder=" جواب " autofocus>
                                    </div>
                                </div>
                                <!-- ans button -->
                                <div class="field">
                                    <div class="control">
                                        <span @click="addAns" class="button is-primary addAns fa fa-plus"></span>
                                    </div>
                                </div>
                                <!-- ans button 2 -->
                                <div class="field">
                                    <div class="control">
                                        <span @click="checkBestAnswer" :class="checkClass"></span>
                                    </div>
                                </div>
                                <!-- live show answers -->
                                <div v-for="answer in liveShowAnswers" class="m-t-20">
                                    <span class="button is-danger is-rounded" @click="remove(answer[0])"><i class="fa fa-trash"></i></span>
                                    <span class="">
                                        {{ answer[0] }} - <i v-if="answer[1]" class="fa fa-check"></i> <i v-if="!answer[1]" class="fa fa-close"></i>
                                    </span>
                                </div>
                                <!-- active time -->
                                <div class="field ">
                                    <div class="control text-right txt-right">
                                        <span ref="activeTime" @click="allow_timer = true;$refs.activeTime.setAttribute('class','is-hidden')" class="button is-primary is-default">تفعيل الوقت</span>
                                    </div>
                                </div>

                                <!-- timer initialization -->
                                <div v-if="allow_timer" class="field">
                                    <div class="columns rtl">
                                        <div class="column is-6">
                                            <div class="control">
                                                <div class="columns">

                                                    <div class="column is-half field">
                                                        <label class="label"> عدد الثواني لهذا السؤال </label>
                                                        <div class="control">
                                                            <input v-model="current_question_seconds" type="number" class="input">
                                                        </div>
                                                    </div>
                                                    <div class="column"></div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- buttons : next, end -->
                            <div class="columns">
                                <div class="column is-3 field">
                                    <button @click="toNext" class="button is-primary is-large nextButt">
                                        التالي
                                    </button>
                                </div>
                                <div class="column is-3 field">
                                    <button v-if="saveButt_isActive" @click="backPicker = true" class="button is-primary is-large nextButt">
                                        إنهاء
                                    </button>
                                </div>
                                <div class="column">
                                </div>
                            </div>

                            <!-- error message -->
                            <div class="field" v-if="faildStoring">
                                <div class="control">
                                    <span class="alert is-danger"> حدث خطأ ما، قم بالضغط على زر الإنهاء مرة أخرى </span>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- success storing message -->
                    <div v-if="successStoring" class="columns">
                        <div class="column">
                            <span class="alert is-success">تم إنشاء إختبارك، بإمكانك التعديل عليه بالأسفل أو</span>
                            <router-link to="/"> الذهاب الى صفحة الإختبار </router-link>
                        </div>
                    </div>

                </div>


                <div class="column is-1">
                </div>

            </div>
            <br><br>
            <div class="columns post-divs">

              <!-- nothing just for UI purpose -->
              <div class="column is-1">
              </div>

              <div class="column loginDiv">

                  <div class="columns is-multiline">

                      <h1 class="column is-12" dir="rtl">
                        {{ title }} <span @click="titleInput = true;" class="button is-info edit-post-btn"><i class="fa fa-edit"></i></span>
                        <br><input v-if="titleInput" v-model="new_title_update" type="text" @keyup.prevent.enter="changeTitle">
                      </h1>
                      <div v-for="question in questions" class="column is-12 questionShowSec">
                      <br>

                          <!-- turn on/off -->
                          <div class="field">
                              <b-switch v-model="questions[questions.indexOf(question)].isNotMultiAnswers"
                                  true-value=""
                                  false-value="لا">
                                  {{ questions[questions.indexOf(question)].isNotMultiAnswers }} يقبل إجابة واحدة
                              </b-switch>
                          </div>

                          <h2 class="quest_title" dir="rtl">
                            <!--  -->
                            {{ question.question }} <i @click="questInput = true" class="button is-info edit-post-btn"><i class="fa fa-edit"></i></i>
                            <br>
                            <!--  -->
                            <input v-if="questInput" class="new-ans-class" type="text" @keyup.prevent.enter="changeQuest(questions.indexOf(question))" v-model="new_quest_update">
                          </h2>

                          <div v-for="answer in answers[questions.indexOf(question)]">
                              <span class="answer" dir="rtl"> <!--@click="ansInput = true;"-->
                                <i v-if="answer[1]" class="fa fa-check"></i> <i v-if="!answer[1]" class="fa fa-close"></i> -  {{ answer[0] }} <i @click="activeInput(answer,answers[questions.indexOf(question)],questions.indexOf(question))" class="button is-info edit-post-btn"><i class="fa fa-edit"></i></i>
                                <input  ref="ss_input" class="new-ans-class" type="text" @keyup.prevent.enter="changeAnswer(questions.indexOf(question),answers[questions.indexOf(question)].indexOf(answer))" v-model="new_res_ans">
                              </span>
                              <br>
                          </div>

                          <br>
                      </div>

                  </div>

              </div>

              <!-- nothing just for UI purpose -->
              <div class="column is-1">
              </div>
            </div>

          </div>

      </div>
  </div>
</template>

<script>
export default {
  data(){
      return {
          isComponentModalActive: false,
          isNotMultiAnswers : 'لا',// means: No
          current_question_id : 0,
          title : '',
          quest_content : '',
          quest_answer : '',
          questions : [],
          answers: [],
          finish: false,
          new_quest : true,
          isBest : false,
          checkClass : 'button is-primary addAns checkButt fa fa-check',
          liveShowAnswers : [],
          saveButt_isActive: false,
          error_empty_field : false,
          successStoring : false,
          faildStoring : false,
          allow_timer : false,
          current_question_seconds : 0,
          minutes : 0,
          seconds : 0,
          // categories selector
          categories : [],
          selected_category: null,
          // tags selector
          data: [],
          name: '',
          selected: null,
          selected_tags: [],
          //
          titleInput : false,
          //dont touch it : ansInput : false,
          last_index_for_active_input : null,
          questInput : false,
          new_title_update : '',
          new_quest_update : '',
          new_res_ans : '',

          backPicker : false,
          background : null,
          tmp_save_counter : 0,
          last_indserted_id : null,
          style_for_background : [
            // 1 brown color
            'background: linear-gradient(to right, #605C3C, #3C3B3F);',
            // 2 orange coral
            `
              background: linear-gradient(to bottom, #f45625, rgb(212, 225, 91));
            `,
            // 3 mix of purple and brown
            `
              background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            `,
            // 4 green
            `
              background: linear-gradient(to bottom, #4CAF50, #CDDC39);
            `,
            // 5 crystal clear
            `
              background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            `
          ]

      }
  },

  mounted(){
      this.getOldTags();
      this.getOldCategories();
      this.getTmpExam();
  },

  methods:{
      getTmpExam(){
        axios.get('/get_tmp_exam/'+this.$route.params.id).then(res => {
          // console.log(res.data);
          this.questions = JSON.parse(res.data[0].question);
          this.answers = JSON.parse(res.data[0].answer);
          this.title = res.data[0].title;
          this.last_indserted_id = res.data[0].id;
          this.current_question_id += this.questions.length;
        }).catch();
      },
      getOldCategories(){
          axios.get('/get_old_categories')
            .then(res => {
                if(res.status == 200){
                    let arr = [];
                    arr = res.data;
                    arr.forEach(object => {
                        this.categories.push(object.category);
                    });
                }
            })
            .catch(err => {
                // console.log(err);
            });
      },

      getOldTags(){
            axios.get('/get_old_tags')
            .then(res => {
                if(res.status == 200){
                    let arr = [];
                    arr = res.data;
                    arr.forEach(object => {
                        this.data.push(object.tag);
                    });
                }
            })
            .catch(err => {
                // console.log(err);
            });
      },

      calculateTime(){
          if(this.seconds > 60){
            let time = this.seconds/60;
            this.minutes = parseInt(time);
            this.seconds = parseInt((time - this.minutes)*100);
          }
      },

      toNext(){

        // when the current_question_id == 0 means that we are in the title section
        if(this.title == '' && this.selected_tags.length == 0 && this.selected_category == null){
            // show the error alert
             this.error_empty_field = true;
        }else{
            if(!this.finish){
                this.finish = true;
            }else{

                if(!this.quest_content){
                    // show the error alert
                    this.error_empty_field = true;
                }else{

                    if(this.answers.length == 0 || this.answers[this.current_question_id].length == 0){
                        // show the error alert
                        this.error_empty_field = true;
                    }else{

                        this.questions[this.current_question_id] = {
                            question :this.quest_content,
                            isNotMultiAnswers:this.isNotMultiAnswers
                            };

                        this.quest_content = '';
                        this.current_question_id++;
                        this.new_quest = true;
                        this.saveButt_isActive = true;
                        this.seconds += Number(this.current_question_seconds);
                        this.current_question_seconds = 0;

                        this.tmp_save_counter++;

                        if(this.tmp_save_counter == 1){
                          this.sendToDBTmpSave();
                          this.tmp_save_counter = 0;
                        }
                    }

                }
            }
        }

        this.closeErrorAlert();
        this.liveShowAnswers = [];
        this.isNotMultiAnswers = 'لا';
      },

      addAns(){

          if(this.isNotMultiAnswers == 'لا'){
              this.checkClass = 'button is-primary addAns checkButt fa fa-check';
          }

          if(this.quest_content){
              /*
                the answer will be like:
                answer = ['here is the content',0]
                0 means that this is not the best answer
                1 means that this is the best answer
              */

              if(this.new_quest){
                  this.answers[this.current_question_id] = [];
                  this.new_quest = false;
              }

              if(this.isBest == true && this.isNotMultiAnswers == 'لا'){
                this.checkClass = 'button is-primary is-static addAns checkButt fa fa-check'
              }

              this.answers[this.current_question_id].push([this.quest_answer,this.isBest]);
              this.liveShowAnswers.push([this.quest_answer,this.isBest]);
              this.quest_answer = '';

          }else{
              // show error alert
              this.error_empty_field = true;
          }

          this.isBest = false;

        this.closeErrorAlert();

      },

      checkBestAnswer(){
          if(this.checkClass == 'button is-primary addAns checkButt fa fa-check'){
              this.checkClass = 'button is-black addAns checkButt fa fa-refresh';
              this.isBest = true;
          }else{
              this.checkClass = 'button is-primary addAns checkButt fa fa-check';
              this.isBest = false;
          }
      },

      closeErrorAlert(){
        setTimeout(()=>{
            this.error_empty_field = false;
        },5000);
      },

      sendToDBTmpSave(){
        this.calculateTime();
        axios.post('/saveTmpExam',{
           title : this.title,
           questions : JSON.stringify(this.questions),
           answers : JSON.stringify(this.answers),
           timer : ' {"minutes":'+this.minutes+',"seconds":'+this.seconds+'} ',
           category : this.selected_category,
           tags :  JSON.stringify(this.selected_tags),
           background : this.background,
           id : this.last_indserted_id
        }).then(response => {
           this.last_indserted_id = response.data;
        });
      },

      sendToDB(){
          this.backPicker = false;
          this.calculateTime();
          const compLoad = this.$loading.open();
          // console.log( JSON.stringify(this.selected_tags));
          axios.post('/createExam',{
             title : this.title,
             questions : JSON.stringify(this.questions),
             answers : JSON.stringify(this.answers),
             timer : ' {"minutes":'+this.minutes+',"seconds":'+this.seconds+'} ',
             category : this.selected_category,
             tags :  JSON.stringify(this.selected_tags),
             background : this.background,
             id : this.last_indserted_id
          }).then(response => {
              if(response.data){
                  this.successStoring = true;
              }else{
                  this.faildStoring = true;
              }
              compLoad.close();
          }).catch(err => {
              compLoad.close();
              this.faildStoring = true;
          })
      },

      remove(title){
        let index = this.liveShowAnswers.indexOf(title);
        this.liveShowAnswers.splice(index,1);
        this.answers[this.answers.length-1].splice(index,1);
      },

      addTag(value){
          if(value && value.length > 0 && this.selected_tags.indexOf(value) == -1){
              this.selected_tags.push(value);
          }
      },

      removeTagAndClose(value){
          let index = this.selected_tags.indexOf(value);
          this.selected_tags.splice(index,1);
      },

      changeTitle(){
        this.title = this.new_title_update;
        this.new_title_update = '';
      },

      changeAnswer(first_index,seconds_index){
        this.answers[first_index][seconds_index][0] = this.new_res_ans;
        this.new_res_ans = '';
      },

      changeQuest(index){
        this.questions[index].question = this.new_quest_update;
        this.new_quest_update = '';
      },

      saveBackPicker(style){
        this.background = style;
      },

      activeInput(answer,answers,quest_index){

        if(this.last_index_for_active_input != null) this.$refs.ss_input[this.last_index_for_active_input].style.display = "none";

        let i = 0;
        let counter = 0;
        while(i != quest_index){
          counter += this.answers[i].length;
          i++;
        }
        // console.log(counter);
        let index =  counter + answers.indexOf(answer);
        // console.log(answers.indexOf(answer));
        this.$refs.ss_input[index].style.display = "block";
        this.$refs.ss_input[index].style.opacity = 1;
        this.last_index_for_active_input = index;

      }

  },

  computed: {
      filteredDataArray() {
          return this.data.filter((option) => {
              return option
                  .toString()
                  .toLowerCase()
                  .indexOf(this.name.toLowerCase()) >= 0
          })
      }
  },
}
</script>
