<template lang="html">
  <div id="root">
    <nav-component></nav-component>
    <br><br><br><br><br><br>

    <dashboard>
      <div class="column is-9" dir="ltr">
        <div class="column loginDiv m-r-l-12">

            <div class="columns is-multiline">

                <div class="column is-12">

                    <h1 class="txt-right"> الأعضاء </h1>
                    <table v-if="show_users" class="table">

                        <thead>
                            <tr>
                                <th> كاتب </th>
                                <th> متواجد هنا </th>
                                <th> إيقاف </th>
                                <th> الرتبة </th>
                                <th> الإسم </th>
                                <th> # </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="user in users">
                                <td>
                                  <span v-if="user.role == 2" :id="'wrt'+user.id" @click="makeAUser(user.id)" class="button is-info is-small">
                                      كاتب <i class="fas fa-pencil p-l-5"></i>
                                  </span>
                                  <span v-if="user.role != 2" :id="'wrt'+user.id" @click="makeAWriter(user.id)" class="button is-light is-small">
                                      عضو <i class="fas fa-user p-l-5"></i>
                                  </span>
                                </td>
                                <td>
                                  <span>
                                    {{  this.moment.utc(user.created_at).fromNow() }} <i class="fas fa-clock p-l-5"></i>
                                  </span>
                                </td>
                                <td>
                                    <span v-if="user.is_active" :id="user.id" @click="blockUser(user.id)" class="button is-dark is-small">
                                        إيقاف <i class="fas fa-ban p-l-5"></i>
                                    </span>
                                    <span v-if="!user.is_active" :id="user.id" @click="unBlockUser(user.id)" class="button is-warning is-small">
                                        موقف <i class="fas fa-times-circle p-l-5"></i>
                                    </span>
                                </td>
                                <td>
                                  <router-link to="">
                                    <span @click="swithAccount(user.id,0)" :id="'user'+user.id" v-if="user.role == 1" class="button is-small is-warning"> آدمن <i class="fas fa-user-secret p-l-5"></i> </span>
                                    <span @click="swithAccount(user.id,1)" :id="'user'+user.id" v-else class="button is-small is-light"> مستخدم عادي <i class="fas fa-user-circle p-l-5"></i> </span>
                                  </router-link>
                                </td>
                                <td>
                                  <a :href="'/users/'+user.id+'/'+user.name.replace(/[\/\\\s]/g,'-')">
                                    {{ user.name }}
                                  </a>
                                </td>
                                <td>
                                  <span>
                                    {{ user.id }}
                                  </span>
                                </td>
                            </tr>
                        </tbody>

                        <div v-if="more_users_exists" class="text-center">
                            <span @click="getUsers()" class="button is-dark"> المزيد </span>
                        </div>

                    </table>

                    <div v-if="!show_users" class="text-center">
                        <span @click="show_users = true" class="button is-default"> عرض الكل </span>
                    </div>

                </div>

            </div>

        </div>

      </div>
    </dashboard>

  </div>
</template>

<script>
export default {

  data(){
    return {
        users : [],
        more_users_exists: true,
        show_users: false,
    }
  },

  mounted(){
    this.getUsers();
  },

  methods: {
    getUsers(){
      axios.get('/get-users/'+this.users.length)
        .then(res => {
          if(!res.data.length) this.more_users_exists = false;
          else this.users = this.users.concat(res.data);
        });
    },

    makeAWriter(id){
      document.getElementById('wrt'+id).className += ' is-loading';
      axios.post('/make-a-writer/'+id)
        .then(res => {
          document.getElementById('wrt'+id).className = 'button is-small is-info';
          document.getElementById('wrt'+id).innerHTML = ' كاتب <i class="fas fa-pencil p-l-5"></i>';
        })
        .catch(err => {
          //
        });
    },

    makeAUser(id){
      document.getElementById('wrt'+id).className += ' is-loading';
      axios.post('/make-a-user/'+id)
        .then(res => {
          document.getElementById('wrt'+id).innerHTML = ' عضو <i class="fas fa-user p-l-5"></i>';
          document.getElementById('wrt'+id).className = 'button is-small is-light';
        })
        .catch(err => {
          //
        });
    },

    swithAccount(id,val){
      document.getElementById('user'+id).className += ' is-loading';
      if(val == 1){
        axios.post('/switch_user_role/'+id+'/'+val)
          .then(res => {
            if(res.status == 200){
              document.getElementById('user'+id).className = 'button is-small is-warning';
              document.getElementById('user'+id).innerHTML = ' آدمن <i class="fas fa-user-secret p-l-5"></i>';
            }
          })
          .catch(err => {
            //
          });
      }else{
        axios.post('/switch_user_role/'+id+'/'+val)
          .then(res => {
            if(res.status == 200){
              document.getElementById('user'+id).className = 'button is-small is-light';
              document.getElementById('user'+id).innerHTML = ' مستخدم عادي <i class="fas fa-user-circle p-l-5"></i>';
            }
          })
          .catch(err => {
            //
          });
      }
    },

    blockUser(user_id){
      document.getElementById(user_id).className += ' is-loading';
      axios.post('/block-user/'+user_id)
        .then(res => {
          if(res.data)
            document.getElementById(user_id).className = 'button is-warning is-small';
            document.getElementById(user_id).innerHTML = 'موقف <i class="fas fa-times-circle p-l-5"></i>';
        })
    },

    unBlockUser(user_id){
      document.getElementById(user_id).className += ' is-loading';
      axios.post('/unblock-user/'+user_id)
        .then(res => {
          if(res.data)
            document.getElementById(user_id).className = 'button is-dark is-small';
            document.getElementById(user_id).innerHTML = 'إيقاف <i class="fas fa-ban p-l-5"></i>';

        })
    }
  }

}
</script>

<style lang="css">
</style>
