.ltr_style {

  .questions-container {
    direction: ltr;
    text-align: left;

    h1 {
      text-align: left !important;
      direction: ltr !important;
    }
  }

  .is-7 .loginDiv .columns.is-mobile {
    margin-left: 0px;
  }

  .user-comment-time div div{
    float: left !important;
    direction: ltr !important;
  }

  .homeMainContainer {
    .is-2 {
      padding-top: 0px;
      div {
        font-size: 15px;
        direction:  ltr;
        text-align: left;
        padding: 9px 18px;
        border: 1px dashed #c3c3c3;
        p{
          text-align:  left;
        }
        span {
          margin-top: 14px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .NewLikeButton {
    padding-left: 0px;
    padding-right: 8px;
  }

  // div, span, p, input {
  //   direction: ltr;
  //   text-align: left;
  // }

  h5 {
    text-align: center;
  }

  .maxim-footer{
    direction: rtl;
  }

  .searchButtField {
    position: absolute;
    z-index: 550;
    margin-right: 25px;
    right: 7px;
    margin-top: 22px;
  }

  .ul-similar-question {
    margin-left: 10px;

    .columns .is-10 {
      direction: ltr;
      text-align: left;
      padding-left: 2px;
    }

    .is-2 {
      .right-span-in-similar-q {
        margin-top: -2px;
      }
      span span:nth-child(2){
            padding: 0px 0px 8px;
      }
    }

  }

  .show-question-container .chain {
    margin-left: 20px;
    border-left: 2px dashed #ccc;
    border-right: none;
    padding-left: 20px;
    padding-right: 0px;
    background-color: #f7f7f7;
  }

  .like-button {
    position: absolute;
    left: -109px;
    top: 31px;
    z-index: 2;
    width: 61px;
  }

  .show-question-container .is-8 {
    .loginDiv {
      padding-top: 16px;
      text-align: left;
      .like-button {
        margin-top: -25px !important;
        margin-left: 24px !important;
      }
      img {
        float: left;
      }
      .comment-header div {
        float: left;
        margin-top: 3px !important;
      }

      .comment-header div:nth-child(1){
        margin-left: 5px;
      }

      .comment-footer {
        direction: ltr;
        text-align: left;
        button {
          direction: rtl;
        }
      }
    }

    .chain {
      margin-right: 1px;
    }
  }

  .is-small-thing {
    margin-top: 3px;
  }

  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before, .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
      content: 'h2 - title' !important;
  }

  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before, .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
      content: 'h1 - title' !important;
  }

  .ql-snow .ql-picker.ql-header .ql-picker-label::before, .ql-snow .ql-picker.ql-header .ql-picker-item::before {
      content: 'normal size' !important;
  }

  .ql-toolbar{
    text-align: left;
  }

  .ql-snow .ql-picker-options .ql-picker-item {
    text-align: left;
  }

  .ql-editor, .ql-editor{
    text-align: left;
    direction: ltr;
    span,p,pre,blockquote,i,strong,b,br,hr,a {
      text-align: left;
      direction: ltr;
    }
  }

  h1.m-r-50 {
    margin-right: 0px;
    margin-left: 74px;
  }

  .ql-editor pre.ql-syntax span {
    font-family: Dubai Regular !important;
    font-size: 15px;
  }

  .ql-syntax {
    border-radius: 5px;
    font-size: 15px !important;
  }

  .columns.is-multiline.is-mobile {
    .is-small-thing {
      margin-top: 0px !important;
    }
    img  {
      margin-top: 31px;
      width: 50px;
    }

    .user-comment-time {
      margin-top: 45px;
    }
  }

  .select:not(.is-multiple)::after {
      /* left: 19px; */
      margin-top: 15px;
      right: 19px !important;
  }

  input, post-label {
    text-align: left;
    direction: ltr;
  }

  .ql-editor h1::before, .ql-blank h1::before {
    content: '#';
    font-size: 29px;
    color: #00b09b;
    padding-right: 5px;
  }

  .ql-editor {
    h1 , h2 ,h3 {
      text-align: left;
      direction: ltr;
    }
  }

  .JoinDiv .is-bold {
    padding: 18px;
    text-align:  left;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
  }

  .JoinDiv .columns  {
    direction: ltr;
  }

  .homeMainContainer {
    .ul-similar-question{
      .is-2 {
        margin-top: 15px;
      }
    }
  }

  .JoinDiv p{
    text-align:  left;
    direction:  ltr;
    margin-bottom: 11px;
  }

  .modal-content {
    text-align: left;
    direction: ltr;
    .menu-label {
      text-align: left;
      background-color: #f1f1f1;
      padding: 10px;
    }
  }

  .show_li {
    direction: ltr;
    text-align: left;
    padding-left: 7px;
  }

  .show_title {
    direction: ltr;
    text-align: left;
  }

  .title-container .increment-tube {
    right : none;
    left : 0;
  }

  .latest-commented-posts {
    text-align: left;
    direction : ltr;
  }

  .columns-of-like-btn-and-content {
    direction: rtl;
  }

}
