.card-content {
    height: 200px;
    padding-top: 25px;

    h1 {
      font-weight: bold;
      color : #fff;
      margin-top: 15px;
    }
}

@mixin eit-remove-styling {
  font-size: 12px;
  padding: 6px 7px;
  background: #5888cf;
  color: #fff;
  border-radius: 14px;
  // border: 1px solid #1c64c2;
}

.trash-remove {
  @include eit-remove-styling;
}

.trash-remove:hover {
  cursor: pointer;
  background: #1c64c2;
}

.hamza-toast {
  position: fixed;
  width: 300px;
  font-weight: bold;
  z-index: 50;
  margin: auto;
  bottom: -200px;
  right: 0;
  left: 0;
  .is-light {
    text-decoration: underline;
    background: none;
  }
}


#nprogress .bar {
  background: $primary !important;
}

.card-footer {
  background-color: #1c1c1c;
  border: none;

  .item-1 {
    border-right: 1px dashed #525252;
  }

  a {
    color : #fff;
    font-weight: normal;
  }
}


.sideHiddenDiv p {
  cursor : pointer;
}

.new-nav-style {
  background-color: white;
  box-shadow: 0 0 4px black;
  a {
    color: #2b2b2b;
    border-bottom : 2px solid #fff;
  }
  a:hover {
    color : $primary !important;
    border-bottom : 2px solid $primary;
  }
}

.infinite-div {
  text-align: center;
  div,a,p,span,button{
    text-align: center;
  }
}

.title {
  font-weight: bold;
  text-align:center;
}

.subtitle {
  font-weight: normal;
  text-align:center;
}

.edit-post-btn {
  border-radius: 50px;
  font-size: 13px;
}

.new-ans-class {
  opacity: 0.4;
}

.new-ans-class:focus , .new-ans-class:hover{
  opacity: 1;
  border: 1px solid $primary;
}

.backPicker-modal {
  width: 350px;
}

.back-class {
  height: 170px;
  margin-bottom: 10px;
  border: 1px solid #eee;
}

.back-class:hover{
  opacity: 0.9;
  cursor: pointer;
  transition: 0.5s;
}

.back-class-clicked {
  opacity: 0.7;
  border: 2px solid $primary;
}

.select-cat {
  input {
    border-radius: 0px;
    font-weight: 300;
    box-shadow: 3px 3px #f6f6f6;
    width: 100%;
    border: 1px solid #e2e2e2;
  }
}

.animation-content {
  width: 100%;
  z-index: 2000;
  .loginDiv {
    box-shadow: none;
  }
}

.snackbar {
  direction : rtl;
  padding-left: 0px !important;
  box-shadow: 0 0 31px -6px black !important;
  background-color: #212020 !important;
  border-radius: 3px !important;
  div.action{
    margin: 10px !important;
    margin-left: 10px !important;
    border-radius: 3px !important;
  }
}


label.switch {
  direction : rtl;
  span.check {
    direction : ltr;
  }
}

.divContainNextButt {
  button {
    width: 100%;
    border-radius: 100px;
    margin-top: 15px;
  }
}


.toNextCaseField {
  width: 100%;
  padding: 10px;
}

.nextCaseTextArea {
  width: 100%;
  height: 100px;
  box-shadow: 0 0 black;
  direction: rtl;
}


.toNextCaseFieldBtn {
  width: 100%;
  padding-top: 0px;
  padding: 10px;
}

.nextCaseBtn {
  width: 100%;
  font-weight: 300;
  border-radius: 100px;
}

.nextCaseWarning {
  text-align: right !important;
  direction: rtl;
  width: 100%;
  padding: 10px;
}


.nextCaseWarning .media-content {
  text-align: center;
}

body{
  height: 100%;
}

.btnUpdatePrediction {
  position: absolute;
  border-radius: 100px;
  top: 45px;
  left: 50px;
}

.category-span{
     color:  #fff;
     padding: 0px 15px 5px;
     /* position:  absolute; */
     border-radius: 100px;
     /* top: 5px; */
     background-color: rgba(4, 4, 4, 0.35);
     // background-color: #04040459;
     /* box-shadow: 0 0 20px #3b3b3b; */
     a {
       color:#fff !important;
     }
}

article.message.is-warning {
      box-shadow: 0 0 10px rgba(255, 221, 87, 0.65) !important;
      section.message-body {
            box-shadow: 0 0 10px rgba(255, 221, 87, 0.73) !important;
      }
}
article.message.is-success {
      box-shadow: none;
      background-color: #C5E1A5;
      section.message-body {
            box-shadow: none;
            background-color: #AED581;
            border-color: #8BC34A;
      }
}


.translation-button-div {
  margin-top: 13px;
  button {
    background-color: #4a4a4a !important;
  }

  .dropdown-item {
    direction: ltr;
    text-align: left;
    color:#2b2b2b;
  }
}


.change_back_header {
  padding: 10px;
  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.select_back_section {
  height: 300px;
  overflow: auto;
  div{
    height: 105px;
    border-radius: 100px;
    img {
      height: 105px;
      border-radius: 100px;
    }
  }
}


.title-container {
  h1 {
    border-color:#aaaaaa52;
  }
  position: relative;
  .increment-tube {
    transition: 0.5s;
    height: 2px;
    right: 0;
    position: absolute;
    z-index: 1;
    background-color: $primary;
    margin-top: -17px;
  }
}


.start-exam-modal{
  .button {
    top:50% !important;
    margin: 0px !important;
    transform: translateY(-50%) !important;
  }
}

#container {
  margin: 20px;
  width: 200px;
  height: 200px;
}

.circle-statistics {
  width: 120px;
  margin: auto;
  position: relative;
  div.num-text {
    font-weight: bolder;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 35px;
    margin-right: 28px;
  }
}


.footer {
  padding: 15px;
  background-color: #fff;
  color:#ccc;
  p{
    text-align: center;
  }
  margin-bottom: 20px;
}

.night-mode-button {
  margin-top: 8px;
  a {
    margin-left: 15px;
    font-size: 30px;
  }
}

.sideDashNav {
  margin-top: 28px;
  position: fixed;
  background: #343434;
  right: 0;
  height: 100%;
  li {
    text-align: center;
    display: block;
    a {
      color: $primary;
      font-size: 25px;
      border-bottom: 1px solid;
    }
  }
}

#btn-1 {
  padding-top: 9px;
}


.edit-span-in-exam{
  font-size: 11px;
  transition: 0.7s;
  padding-top: 5px;
  float: left !important;
  cursor: pointer;
}

.exam-dropdown {
  background-color: rgba(4, 4, 4, 0.35);
  width: 40px;
  border-radius: 5px;
  margin-top: 30px;
  position: absolute;

  ul {
    text-align:  center;
    font-size: 13px;
    li {
      color: #fff;
      padding: 3px;
    }
  }
}


.profileDiv {
  padding-left: 15px;
  padding-right: 15px;
  .is-3 {
    border-left: 1px solid #eee;
    text-align: center;
    color: #8e8e8e !important;
    h1 {
      border-bottom: none;
      font-weight: bold;
      padding-bottom: 5px;
      margin-bottom: 0px;
    }
    h3,h4 {
      text-align: center;
    }
    ul {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .is-8 {
      text-align: right;
    }

    .description {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.circle-statistics {
  path[stroke="#eee"] {
    stroke-width:6;
  }
  path:nth-child(2) {
    stroke: $primary;
  }
}

.user-image {
  width: 150px;
  height: 150px;
  border: 5px solid $primary;
  margin: auto;
}

.right-top-div {
  text-align: center;
}

.is-centered {
  margin: auto;
}


.am-btn-root {
  position:  relative;
  margin:  auto;
  button {
    z-index: 1;
    margin-left: 25px;
  }
  .back-line {
    border-top: 1px solid #eee;
    width: 200px;
    left: 0;
    position:  absolute;
    margin-top: -17px;
  }
}

.questions-container {
  .loginDiv {
    padding-left: 25px;
    padding-right: 25px;
  }

  h1 {
    border: none;
    font-weight: bold;
    // color: #8e8e8e;
    font-size: 20px;
    text-align: right !important;
    border-bottom: 1px solid #eee;
    a {
      color: #525252;
    }
  }

  img {
    border: 7px solid #eee;
    border-radius: 27px;
  }

  span {
    // font-weight: bold;
    // color: #afaeae;
    font-size: 14px;
    padding-left: 10px;
  }
}

.show-question-container {
  p {
    // text-align: right;
    // line-height: 29px;
    // color: #6d6d6d;
  }

  img {
    border: 5px solid #eee;
  }

  .chain {
    margin-right: 20px;
    border-right: 2px dashed #ccc;
    padding-left: 0px;
    padding-right: 20px;
    background-color: #f7f7f7;
  }

  .comment {
    margin-bottom: 0px;
    textarea {
      width: 100%;
      height: 150px;
      border-color: #eee;
      padding: 30px;
    }

    .reply-box {
      background-color: #eee;
      textarea:focus {
        border-color: $primary;
      }
      transition: 0.2s;
    }
  }

  .end-of-is-8 {
    width: 100%;
    div {
      height: 10px;
      width: 10px;
      background-color: #ccc;
      margin-right: 9px;
      margin-top: -26px;
      border-radius: 100px;
    }
  }

  .ul-similar-question {
    li {
      border-bottom: 1px dashed #eee !important;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    li:nth-last-child {
      border-bottom : none;
    }
  }
}

.help-block {
  font-size: 14px;
  background-color: #ec5a5a;
  padding: 7px;
  color: white !important;
}

.field.form-group.has-error .control {
  text-align: right;
}

.field.form-group.has-error input {
    margin-bottom: 16px;
}

.comment-header {
  div {
    margin-right: 60px;
    margin-top: -38px;
  }

  img {
    width: 40px;
    height: 40px;
  }
  border-bottom: 1px solid #eee;
  padding-bottom: 25px;
  margin-bottom: 15px;
}

// quill styling
.Quill-container {
  width: 100%;
  margin-bottom: 30px;
  height: 250px ;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
    height: auto ;
    border:none;
}

.ql-editor, .ql-blank {
  padding: 15px !important;
  resize: vertical !important;
  height: auto;
  line-height: 30px !important;
  background-color: #fbfbfb;
  ul {
    padding: 0px !important;
  }

  h1::before {
    content: '#';
    font-size: 29px;
    color:$primary;
    padding-left: 5px;
  }

  h1, h2{
    padding-bottom: 11px !important;
    border-bottom: none !important;
  }

  h2::before {
    content: '# ';
    font-size: 20px;
    font-weight: bold;
    color: $primary;
  }

  blockquote {
    background: #f2f2f2;
    margin-top: 10px !important;
  }

  pre {
    margin-top: 15px !important;
  }

  span,p,blockquote,ul,a,i,b,strong,em,li {
    font-size: 17px !important;
  }

  h1,h2,h3 {
    font-weight: bold;
    margin-top: 25px !important;
  }

  h1 {
    font-size: 25px !important;
  }

  h2 {
    font-size: 22px !important;
  }

  h3 {
    font-size: 20px !important;

  }
}

.ql-bubble .ql-editor {
  resize: none !important;
}
.ql-tooltip {
  display: none;
}

.Quill-show-container {
  height: auto;
}

.ql-editor {
  padding: 15px;
  p, blockquote,span, h1,h2,h3,li,ul,ol,a{
    text-align: right;
    font-family: Dubai Regular !important;
    font-size: 15px;
    direction: rtl;
    // color: #434343;
  }

  blockquote {
    // background-color: #eee;
    padding: 15px !important;
    // color: #434343;
    font-weight: bold;
    border-left:0px solid #000;
    border-right: 4px solid #ccc;
  }


  p,span {
    margin: 20px 0px;
    padding: 15px 0px;
  }

  h1,h2,h3 {
    margin: 10px 0px 20px 0px;
    text-align: right;
    direction: rtl;
    border-bottom: 1px solid #eee;
    margin: 20px 0px;
    padding: 15px 0px;
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 15px;
  }
}


.ql-editor pre.ql-syntax {
    // background-color: #282c34 !important;
    // color: #f8f8f2;
    overflow: visible;
    font-size: 15px;
    padding: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-left: 4px solid $primary;
    overflow-x: auto;
    direction: ltr;
    font-family: Dubai Regular;
    letter-spacing: 0.5px;
    font-size: 19px;
    border-radius: 5px;
    // color: #cec6c6;
    span {
      font-family: Dubai Regular !important;
      font-size: 19px;
    }
}

.ql-picker-label {
  text-align: left;
}

.show-question-container .ql-tooltip {
  display: none;
}

.chain-loading {
  background: none;
  font-size: 40px;
  border: none;
}

.g-recaptcha div {
  margin: auto;
}


.waiting-for-somthing-big {
  text-align: center;
  button {
    font-size: 60px !important;
  }
}

.ul-similar-question {
  .is-success {
    padding-right: 8px;
    padding-left: 9px;
  }

  .is-grey {
    border: 1px solid #ccc !important;
  }
}


.post-label {
  font-weight: bold;
  direction: rtl;
  font-size: 16px;
}

.select:not(.is-multiple)::after{
  left: 19px;
  margin-top: 15px;
}



span, h1,h2,h3 , p, div, label, input , textarea, select, option {
  font-family: 'Dubai Regular' !important;
}


.footer-categories {
  text-align: center;
}

.root.footer-categories div {
    display: inline;
    padding: 5px 15px;
    margin-left: 8px;
    background-color: #f9f9f9;
    line-height: 50px;
    border: 1px solid #eee;
}


.user-comment-time div div{
  display: inline;
  margin-left: 7px;
  font-size: 15px;
  text-align: right !important;
  direction: rtl !important;
  margin-right: 0px !important;
}

.user-comment-time div {
  margin-right: 0px !important;
}

.user-comment-time {
  .category {
    background-color: #d8d8d8;
    font-size: 12px;
    padding: 0px 10px;
    border-radius: 3px;
    color: #112b28;
  }
}

.float-right {
  float: right;
}

.smallUnderlinedText {
  text-decoration: underline;
  font-size: 15px;
  color:#ccc;
  font-family: Dubai Regular;
  color: #747474;
}


.full-replies-page-root {
  // position: fixed;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.modal {
  .help.is-danger {
    display: none;
  }
}

.like-button {
  position:  absolute;
  right: -150px;
  top: 31px;
  z-index: 2;
  width: 61px;
  span {
    font-size: 15px !important;
    background: #525252;
    padding: 5px 14px;
    border-radius: 4px;
    color: #f7f7f7;
    text-align: center;
  }
  .fa-angle-down:hover , .fa-angle-up:hover {
    color: #636363;
    cursor: pointer;
  }
  .fa-angle-down, .fa-angle-up{
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #afaeae;
  }
}

.div-up-to-img {
    position:  absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5098039215686274);
    border-radius: 100px;
    left:  0;
    right: 0;
    text-align: center;
    color: #eee;
    font-size: 37px;
    margin: auto;
    a {
      color: #eee;
    }
    i {
      margin-top: 34%;
    }
}

.bottom-div-edit-button {
  width:  100%;
  height:  60px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left:  0;
  right:  0;
  bottom: 0;
  text-align:  center;
  line-height: 61px;
  color: #f2f2f2;
  span {
    text-decoration: underline;
    cursor: pointer;
  }
  z-index: 70;
}

.is-active {
  transition: 0.3s;
}

.numeric-user-info {
  span {
    font-size: 50px;
    text-align: center;
    padding: 0px;
  }

  .desc {
    font-size: 25px;
  }

  .text-big {
    font-size: 60px;
    .desc {
      font-size: 35px;
    }
  }

}

.border-l {
  border-left: 1px solid #eee;
}

.border-r {
  border-right: 1px solid #eee;
}


.notificationDiv{
  font-size: 15px;
}

.notificationsModal {
  div:nth-child(1){
    overflow-y: auto;
  }
}

.notification-mark {
    border-radius: 100px;
    position: absolute;
    background-color: #00b09b;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: 22px;
    font-size: 12px;
    height: 10px;
    /* padding: 1px; */
    width: 10px;
    bottom: 4px;
    border: 2px solid #2b2b2b;
}

.search-tabs {
  font-size: 20px;
  .column:hover {
    color: $primary;
    transition: 0.1s;
    cursor: pointer;
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

article.tile.is-child.box{
  background-color: rgba(0, 0, 0, 0.5411764705882353) !important;
  border: none !important;
}

.is-disabled {
  cursor: auto;
  color: #ccc !important;
  background: none !important;
}


.div-is-active {
  background: $primary;
  color: #f2f2f2;
}

.ql-editor li:not(.ql-direction-rtl)::before {
    // margin-left: -1.5em;
    /* margin-right: 0.3em; */
    text-align: right;
    margin-right: 0px;
    margin-left: -7px !important;
}

.ql-bubble.ql-editor {
    resize: none !important;
}

// .ql-editor.ql-blank {
//     height: 300px;
// }

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before, .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
    content: 'h2 - عنوان' !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before, .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
    content: 'h1 - عنوان' !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-label::before, .ql-snow .ql-picker.ql-header .ql-picker-item::before {
    content: 'حجم عادي' !important;
}


.m-r-l-12 {
  margin-left: 12px;
  margin-right: 12px;
}

.is-small-thing {
  .like-button {
    position: inherit !important;
    width: 61px;
    margin-right: 0px;
    right: 0px;
    span {
      font-size: 15px !important;
      background: #636363;
      padding: 5px 14px;
      border-radius: 10px;
      color: #f7f7f7;
      text-align: center;
    }
    .fa-angle-down:hover , .fa-angle-up:hover {
      color: #636363;
      cursor: pointer;
    }
    .fa-angle-down, .fa-angle-up{
      text-align: center;
      font-size: 20px;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-right: 15px;
      color: #afaeae;
    }
  }
}


.is-small-thing {
  width: 70px !important;
  margin-left: 18px !important;
  margin-top: -19px !important;
}

.img-is-50 {
  height: 50px;
}


.margin-right-minus-66 {
  margin-right: -66px;
}

.margin-right-minus-55 {
  margin-right: -55px;
}

.chessQueen.navbar-item.has-dropdown {

  .navbar-link i {
    font-size: 25px;
    margin-top: -2px;
    color: #f2f2f2;
  }

  .navbar-link {
    border-left: 5px dashed #444846 !important;
    border-right: 5px dashed #444846 !important;
    background: none !important;
    cursor: pointer;
  }

  // .navbar-link:hover {
  //   background: none;
  // }

  strong, small{
    color: #2b2b2b;
  }

  .navbar-item img {
    max-height: 40px;
    margin-left: 22px;
    margin-top: -9px;
  }

  .navbar-dropdown {
    left: auto !important;
    right: 0 !important;
    margin-top: 1px;
    // background-color: #232323;
    // border-top: 1px solid #1b1b1b;
  }

  .navbar-dropdown a.navbar-item:hover {
    background-color: whitesmoke !important;
    color: #0a0a0a !important;
  }

}

.is-middleOne {
  border-radius: 4px;
  font-size: 17px;
  background-color: #525252;
  padding: 3px 5px;
  font-size: 15px;
  direction: ltr;
  color: #fff;
}

.NewLikeButton {
  margin-top: -21px;
  padding-left: 10px;
  padding-right: 1px;
  .fa-angle-down, .fa-angle-up{
    text-align: center;
    font-size: 30px;
    color: #afaeae;
  }
  .fa-angle-down:hover, .fa-angle-up:hover{
    color: #525252;
  }
}

.alert.is-success {
  font-size: 13px;
  margin-top: 3px;
  direction: rtl;
  color: #8BC34A;
}

.section-head {
  .column , .sectionLebel {
    text-align: center !important;
    color: #a6a6a6;
  }

  hr {
    background: #cdcdcd;
  }
}

.profile_empty_message {
    font-size: 20px;
    font-weight:  bold;
    color: #4d4d4d;
    /* border-bottom: 1px solid #eee; */
}

.divider {
  text-align: center;
  span {
    background: #fff !important;
    border: 1px solid #eee !important;
    z-index: 1;
    color: #b9b9b9 !important;
    cursor: text;
  }
  hr {
    position:  absolute;
    background: #eee !important;
    left:  0;
    padding-right: 15px;
    padding-left: 15px;
    right: 0;
    margin-top: -16px;
  }
}

.modal-card.animation-content {
  direction: rtl;
  border-radius: 3px;
}

.modal-card-foot, .modal-card-head {
  background: #fff;
}

.b-checkbox.checkbox input[type=checkbox]:checked+.check {
    background: $primary !important;
    border-color: $primary !important;
}

.is-absolute-btn {
  position:  absolute;
  margin-top: 103px;
  margin-right: -15px;
}

.home-more-circle-btn {
  z-index: 1;
  right: 0;
  font-size: 21px;
  border-radius: 1000px;
  padding: 10px 18px;
  border: none;
  box-shadow: 0px 2px 2px #969696;
  i {
    color: #b3b3b3;
  }
}

.prediction-result-message {
    text-align: center;
    background-color: whitesmoke;
    margin: 0px;
    padding: 29px;
}


.maxim {
  p{
    font-size:  19px;
    font-weight:  bold;
    color: #525252;
    letter-spacing: 0.2px;
    margin-bottom: 35px;
  }

  a {
    border-top: 1px solid #eee;
    padding-top: 11px;
  }
}

.right-span-in-similar-q {
  background-color: #e3e3e3;
  border-radius: 3px;
  color: #656565;
  padding-left: 0px !important;
  span:nth-child(1){
    font-size: 16px;
  }
}

.maxim-footer {
  i {
    cursor: pointer;
  }

  // .fa-heart:hover {
  //   color: $danger;
  //   transition: 0.2s;
  // }
  //
  // i.far.fa-heart::before {
  //     content: '\f004';
  //     font-weight: bold;
  //     color: #ed5555;
  // }

  // input[type="checkbox"]::before {
  //     content: '\f004';
  //     font-family: 'Font Awesome 5 Free';
  //     position: absolute;
  //     margin-top: -14px;
  //     color: $danger;
  //     transition: 0.25s ease-out;
  //     cursor: pointer;
  // }
  //
  // input[type="checkbox"]:checked::before {
  //     content: '\f004';
  //     font-family: 'Font Awesome 5 Free';
  //     font-weight: bold;
  //     position: absolute;
  //     margin-top: -14px;
  // }
  //
  // input[type="checkbox"]{
  //     height: 0;
  //     width: 20px;
  //     background: none;
  //     border:none;
  // }

  // .check::before {
  //     content: '\f004' !important;
  //     font-family: 'Font Awesome 5 Free';
  //     position: absolute;
  //     margin-top: -14px;
  //     color: $danger;
  //     transition: 0.25s ease-out;
  //     cursor: pointer;
  // }

  // .check:checked::before {
  //     content: '\f004' !important;
  //     font-family: 'Font Awesome 5 Free';
  //     font-weight: bold;
  //     position: absolute;
  //     margin-top: -14px;
  // }

  // .check{
  //     height: 0;
  //     width: 20px;
  //     background: none;
  //     border:none;
  // }

  .b-checkbox.checkbox input[type=checkbox]:checked + .check {
    background: none !important;
    border-color: none !important;
    box-shadow: none !important;
    // font-weight: normal !important;
  }

  .b-checkbox.checkbox span.check::before {
      content: '\f004';
      font-weight: normal !important;
      font-size: 19px;
      position: absolute;
      margin-top: 8px;
      margin-right: -6px;
      font-family: 'Font Awesome 5 Free';
      color: $danger;
      transition: background .15s ease-out;
  }

  .b-checkbox.checkbox span.check::before:checked{
    font-weight: bold !important;
  }

  .b-checkbox.checkbox input[type=checkbox]+.check {
      content: '\f004';
      font-weight: bold;
      font-size: 19px;
      // margin-top: 0px;
      // margin-right: -7px;
      font-family: 'Font Awesome 5 Free';
      color: $danger;
      transition: background .15s ease-out;
      border:none;
  }

  .b-checkbox.checkbox:hover input[type=checkbox] + .check {
      border-color:none;
  }

  .check {
    box-shadow: none !important;
  }

  .b-checkbox.checkbox input[type=checkbox]:checked + span.check::before {
      font-weight: bold !important;
      border:none;
      background: none;
      box-shadow: none;
  }

}


.maxim-dialog {
  .modal-close{
    display: none !important;
  }
}

.on-top {
  h2 {
    font-weight: bold;
    font-size: 25px;
    color: #9f9f9f;
    margin-bottom: 20px;
  }
}

.infinite-status-prompt[data-v-9ac9b68a] {
  color: #666;
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  display: none;
}

.column.is-12.loginDiv.comment.reply-box {
  margin-bottom: 10px;
}

.notAuthAlert {
  font-size: 13px;
  margin-top: 3px;
  direction: rtl;
  padding: 1px 10px;
  border-radius: 3px;
  text-align: center;
  background-color: #efefef;
  a{
    border:none;
  }
}

.columns.search-tabs .div-is-active {
    color: #fefefe;
}

.JoinDiv .is-bold {
  padding: 18px;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
}

.JoinDiv p{
  margin-bottom: 11px;
}

#nprogress .bar {
    height: 5px !important;
}

.homeMainContainer {
  .is-2 {
    padding-top: 0px;
    section .dashed-div {
      font-size: 15px;
      direction:  rtl;
      text-align: right;
      padding: 9px 18px;
      border: 1px dashed #c3c3c3;
      p{
        text-align:  right;
      }
      span {
        margin-top: 14px;
        margin-bottom: 5px;
      }
    }
  }
}

.columns-of-like-btn-and-content {
  h1 {
    overflow: hidden;
  }
  direction: ltr;
  .is-11-desktop {
    direction: rtl;
    padding-right: 25px;
  }
}

.JoinDiv .columns  {
  direction: rtl;
}

.homeMainContainer {
  .ul-similar-question{
    .is-2 {
      margin-top: 30px;
    }

    h3 {
      overflow: hidden !important;
    }
  }

  .column.is-2>div>p {
    letter-spacing: 1px;
    padding: 10px 0px;
  }
}


.latest-commented-posts {
  h3 {
    padding: 5px;
    font-size: 15px;
    background-color: #fbfbfb;
    margin-bottom: 10px;
    border-radius: 3px;
  }
  p {
    overflow: hidden;
  }
  ul {
    li {
      background: #fbfbfb;
      padding: 10px;
      font-size: 16px;
      direction: rtl;
      border-radius: 3px;
      color: #525252;
      margin-bottom: 10px;
    }
    h4 {
      font-weight: bold;
    }
    p {
      padding: 5px;
      border-radius: 3px;
      margin-top: 10px;
      background: #f2f2f2;
    }
  }
}

.show-question-container .ul-similar-question li:last-child {
    border-bottom: none !important;
    padding-bottom: 0px;
}

.notices {
  z-index: 999999;
}

.latest-commented-posts {
  a {
    color: #525252 !important;
  }
}

.fixed-on-the-L-side {
  position: fixed;
  height: 0;
  width: 20%;
  bottom: 0;
  transition: 0.5s;
  padding-top: 50px;
  .loginDiv{
    .loginDiv {
      background: none;
      border:none;
      box-shadow: none;
      padding: 0px;
    }
  }

  .column.is-2 {
    li {
      margin-bottom: 10px;
    }
    border-right:1px solid #eee;
    height: 100%;
    text-align: center;
    // padding-left: 2px;
  }
}

.hero.is-medium .hero-body {
    padding-bottom: 5rem;
    padding-top: 7rem;
}
