$gradient-back : #1f191a;
$gradient-back : -webkit-linear-gradient(141deg, #1f191a 0%, #363636 71%, #46403f 100%);
$gradient-back : linear-gradient(141deg, #1f191a 0%, #363636 71%, #46403f 100%);

$primary-so-dark : #191919;


.hero.is-primary.is-bold {
    background: $primary-so-dark !important;
}

body {
    background-color: $primary-so-dark !important;
}

.container.buttnav {
    background-color: #272727;
    border: 1px solid #1d1d1d;
    box-shadow: 0 0 black;
}

.homeSearch {
    background-color: #272324;
    border: 1px solid #2b2b2b;
}

.loginDiv {
    background-color: #272727 !important;
    border: 1px solid #1d1d1d  !important;
    box-shadow:none !important;
    .start-exam-modal div {
        background-color: #272727 !important;
        border: 1px solid #1d1d1d  !important;
        box-shadow: 0 0 15px #191919;
    }

    .show_title {
        background-color: $primary-so-dark;
        color: #9b9b9b;
    }

    .show_li {
        background-color: #272727 !important;
        border-color: $primary-so-dark !important;
        color: #ccc !important;
    }

    input, select {
      background-color: #191919 !important;
      box-shadow: 2px 3px black !important;
      border: 1px solid #000 !important;
    }
}

.homeSearch:hover,.homeSearch:focus{
    border: 1px solid #2b2b2b;
}

.searchButtField button.is-primary{
    background-color: #1f1f1f;
    border: 1px solid #1d1d1d;
}
.searchButtField button.is-primary:hover{
    border-color: #1f1f1f;
    background-color: #272324;
}

.card {
    box-shadow: 0px 8px 20px #000 !important;
}

hr {
  background: #484848 !important;
}
