<template>
    <div ref="template" class="" dir="rtl">
      <!-- START NAV
      <nav class="navbar is-white">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item brand-text" href="../">
              Bulma Admin
            </a>
            <div class="navbar-burger burger" data-target="navMenu">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="admin.html">
                Home
              </a>
              <a class="navbar-item" href="admin.html">
                Orders
              </a>
              <a class="navbar-item" href="admin.html">
                Payments
              </a>
              <a class="navbar-item" href="admin.html">
                Exceptions
              </a>
            </div>

          </div>
        </div>
      </nav>
       END NAV -->


      <div class="container">
        <div class="columns">
          <div class="column is-3">
            <aside class="menu">
              <p class="menu-label">
                عام
              </p>
              <ul class="menu-list">
                <li id="dashboard"><router-link :to="{ name : 'dashboard' }"> الرئيسية </router-link></li>
                <li id="users"><router-link :to="{ name :'users' }"> الأعضاء </router-link></li>
                <li><a class="is-disabled"> إبلاغات </a></li>
              </ul>
              <p class="menu-label">
                تصنيفات
              </p>
              <ul class="menu-list">
                <li id="createCategories"><router-link :to="{ name : 'createCategories' }"> إنشاء و تعديل </router-link></li>
              </ul>
              <p class="menu-label">
                قسم الإختبارات
              </p>
              <ul class="menu-list">
                <li id="postExam"><router-link :to="{ name : 'postExam' }"> إضافة إختبار </router-link></li>
                <li>
                  <!-- <a> تعديل و تحرير </a> -->
                  <ul>
                    <li id="exams"><router-link :to="{ name:'exams' }"> إختبارات </router-link></li>
                    <!-- <li><a> إختبارات قديمة </a></li> -->
                    <li><a class="is-disabled"> إبلاغات </a></li>
                  </ul>
                </li>
                <!-- <li><a>Invitations</a></li>
                <li><a>Cloud Storage Environment Settings</a></li>
                <li><a>Authentication</a></li> -->
              </ul>
              <p class="menu-label">
                قسم الأسئلة
              </p>
              <ul class="menu-list">
                <li id="dashQuestions"><router-link :to="{ name: 'dashQuestions' }">كل الأسئلة و المشاركات </router-link></li>
                <li><a class="is-disabled"> إبلاغات </a></li>
                <!-- <li><a>  </a></li> -->
              </ul>
              <p class="menu-label">
                إعدادات الموقع
              </p>
              <ul class="menu-list">
                <li id="ads"><router-link :to="{ name: 'ads' }"> إعلانات </router-link></li>
                <li id="instructions"><router-link :to="{ name: 'instructions' }"> إرشادات الإستخدام </router-link></li>
                <li id="pRules"><router-link :to="{ name: 'pRules' }"> قوانين النشر </router-link></li>
                <!-- <li><a>  </a></li> -->
              </ul>
            </aside>
          </div>
          <slot></slot>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  data(){
    return {

    }
  },

  mounted(){
    document.getElementById(this.$route.name).children[0].className += ' is-active'
  }
}

</script>
