<template lang="html">
  <div id="root">
    <nav-component></nav-component>
    <br><br><br><br><br><br>

    <dashboard>
      <div class="column is-9" dir="ltr">
        <div class="loginDiv">

            <div class="columns is-multiline">

              <div class="column is-12">
                <div ref="QuillArea">
                </div>
              </div>

              <div class="column is-12 m-t-100">
                <button @click="updateInstructionsOfUse()" class="button is-primary"> تحديث </button>
              </div>

            </div>
        </div>
      </div>
    </dashboard>
  </div>
</template>

<script>
export default {

  data(){
    return {
      quill: null
    }
  },
  mounted(){
    this.quill = new Quill(this.$refs.QuillArea, {
      modules: {
        syntax: true,
        toolbar: [
          [{ header: [1, 2, false] }],
          ['bold'], //'italic', 'underline'
          ['image','blockquote']
        ],
      },
      theme: 'snow',
    });
    NProgress.done();
  },

  methods: {
    updateInstructionsOfUse(){
      axios.post('/update-instructions-of-use',{
        content: JSON.stringify(this.quill.getContents())
      });
    }
  }

}
</script>

<style lang="css">
/* .ql-editor{
  resize: none !important;
} */
</style>
