<template lang="html">
  <div id="root">
    <nav-component></nav-component>
    <br><br><br><br><br><br>

    <dashboard>
      <div class="column is-9" dir="ltr">
        <div class="loginDiv">

            <div class="columns is-multiline">

              <div class="column is-12">
                <div ref="QuillArea">
                </div>
              </div>

              <div class="column is-12 m-t-100">
                <button @click="updatePostingRules()" class="button is-primary"> تحديث </button>
              </div>

            </div>
        </div>
      </div>
    </dashboard>
  </div>
</template>

<script>
export default {

  data(){
    return {
      quill: null
    }
  },
  mounted(){
    this.quill = new Quill(this.$refs.QuillArea, {
      modules: {
        toolbar: [
          [{ header: [false] }],
          ['bold','italic', 'underline'],
        ],
      },
      theme: 'snow',
    });
  },

  methods: {
    updatePostingRules(){
      axios.post('/update-posting-rules',{
        content: JSON.stringify(this.quill.getContents())
      });
    }
  }

}
</script>

<style lang="css">
</style>
