<template lang="html">
  <div class="root">
    <nav-component></nav-component>
    <br><br>
    <br><br>
    <br><br>

    <div class="container is-relative">
        <div class="columns is-multiline" dir="rtl">
          <div class="column is-12 on-top">
            <h2 class="text-center"> قم بتحديد التصنيفات التي يهمك متابعتها </h2>
          </div>
          <!-- loading spinner -->
          <div v-if="!categories.length" ref="spinner" class="column is-12 waiting-for-somthing-big">
            <button class="button chain-loading is-large is-loading"></button>
          </div>
          <!-- category   -->
          <div v-if="categories.length" class="column is-3 p-5" v-for="category in categories">
            <div class="loginDiv m-b-10" dir="rtl">
              <b-checkbox
              v-model="follow_list"
              :native-value="category.id"
              >
                  {{ category.category }}
              </b-checkbox>
            </div>
          </div>

        </div>
        <hamza-toast :done="is_saving_done" ref="hamzaToast" @cancel="cancelChanges()"  @click="sendToDB()" text=" تأكد من حفظ التعديلات " PrimaryButton=" حفظ " LightButton="إلغاء"></hamza-toast>
    </div>
  </div>
</template>

<script>
export default {

  data(){
    return {
      open_toast: false,
      categories: [],
      old_follow_list : [],
      follow_list: [],
      is_saving_done: false,
    }
  },

  mounted(){
    this.getCategories();
  },

  methods: {
    getCategories(){
      axios.get('/get_old_categories')
        .then(res => {
          for (let index = 0; index < res.data.length; index++) {
            this.old_follow_list.push(res.data[index].id);
            this.follow_list.push(res.data[index].id);
          }

          axios.get('/get_categories')
          .then(res => {
            this.categories = res.data;
            NProgress.done();
          })
          .catch(err => {
            this.$refs.spinner.innerHTML = 'حدث خطأ ما، أعد تحديث الصفحة';
          });

        })
        .catch(err => {
          this.$refs.spinner.innerHTML = 'حدث خطأ ما، أعد تحديث الصفحة';
        });
    },

    sendToDB(){
      axios.post('/save_followed_categories',{
        follow_list : JSON.stringify(this.follow_list)
      })
      .then(res => {
        this.is_saving_done = true;
        setTimeout( ()=>{
          this.is_saving_done = false;
        },1000);
        this.old_follow_list = this.follow_list;
        this.$refs.hamzaToast.style="margin-bottom:-500px;transition:0.3s";
        this.$router.push('/#questions');
      })
      .catch(err => {
        //
      });
    },

    cancelChanges(){
      this.follow_list = this.old_follow_list;
    }
  },

  watch: {
    follow_list(){
      // this.open_/toast = true;
      this.$refs.hamzaToast.style="margin-bottom:247px;transition:0.3s";
    }
  }

}
</script>

<style lang="css">
</style>
