<template lang="html">
  <div class="root">
    <nav-component></nav-component>
    <br><br><br><br><br>
    <div class="container">
      <div class="profileDiv">
        <div class="columns is-multiline" dir="ltr">

          <!-- profile info -->
          <div class="column is-3 p-t-0">
            <div class="loginDiv">
              <div class="right-top-div is-relative">
                <div v-if="active_edit_buttons" class="div-up-to-img">
                  <a target="_blank" href="https://wordpress.com/me">
                    <i class="fas fa-camera"></i>
                  </a>
                </div>
                <img :src="profile_img" class="is-rounded user-image">

                <divider>
                  {{ $store.getters.lang.name_country }}
                </divider>

                <h1>{{ name }} <i v-if="active_edit_buttons" @click="prompt(' قم بتعديل إسمك ' ,'مثلا: حمزة Hamza' , 'name')" class="fas fa-pen-square modify trash-remove"></i></h1>
                <h3></h3>
                <!-- <h4>{{ user_info.country }} <i v-if="active_edit_buttons" @click="prompt( 'قم بتعديل إسم بلدك' , 'مثلا: الجزائر' , 'country' )" class="fas fa-pen-square modify trash-remove"></i></h4> -->
              </div>

              <divider> {{ $store.getters.lang.description }}  </divider>

              <div class="description">
                <p dir="rtl">{{ user_info.description }} <i v-if="active_edit_buttons" @click="prompt( 'أدخل وصفا مختصر عن نفسك' , '...' , 'description')" class="fas fa-pen-square modify trash-remove"></i></p>
              </div>
              <!-- links section -->
              <!-- <divider> {{ $store.getters.lang.links }} </divider>
              <ul>
                <li v-for="link in user_info.links" class="m-b-10">
                  <i class="fas fa-globe"></i> <a target="_blank" :href="link">{{ link | prepareLink }}</a> <i v-if="active_edit_buttons" @click="user_info.links.splice(user_info.links.indexOf(link),1)" class="fas fa-trash trash-remove m-l-15"></i>
                </li>
                <li>
                  <i v-if="active_edit_buttons" @click="prompt(' قم بإضافة رابط حساب خاص بك ' , 'مثلا: حسابك في حسوب، فايسبوك، تويتر..الخ' , 'links')" class="fas fa-plus modify"></i>
                </li>
              </ul> -->
              <divider v-if="$store.getters.user.id == $route.params.id"> {{ $store.getters.lang.sensitive_data }} </divider>
              <span v-if="$store.getters.user.id == $route.params.id" class="alert alert-warning">
                {{ $store.getters.lang.sensitive_data_message }}
              </span>
              <a v-if="$store.getters.user.id == $route.params.id" href="/change-password" class="text-center smallUnderlinedText"> {{ $store.getters.lang.change_password }} </a>

              <!--removed : style="direction:rtl !important;" -->
              <div class="columns is-multiline">

                <div class="column is-12 p-r-20 p-l-20">
                  <divider> {{ $store.getters.lang.analytics }}  </divider>
                </div>
                <!-- show number of user's comments, questions and likes  -->
                <div v-if="user_info.likes != undefined" class="column is-12">
                    <div class="columns is-multiline numeric-user-info">
                      <!-- -->
                      <div class="column is-12">
                        <div class="columns is-multiline border-l">
                          <span class="column is-12">{{ formatString(user_info.likes+(user_info.questions*0.5)+(user_info.comments*0.25)) }}</span>
                          <span class="column desc"> {{ $store.getters.lang.reputation }} </span>
                        </div>
                      </div>
                      <!-- -->
                      <div class="column is-12 text-big">
                        <div class="columns is-multiline">
                          <span class="column is-12">{{ formatString(user_info.likes) }}</span>
                          <span class="column desc"> {{ $store.getters.lang.points }} </span>
                        </div>
                      </div>
                      <!-- -->
                      <div class="column is-12">
                        <div class="columns is-multiline">
                          <span class="column is-12">{{ formatString(user_info.questions) }}</span>
                          <span class="column desc"> {{ $store.getters.lang.posts }} </span>
                        </div>
                      </div>
                      <!-- -->
                      <div class="column is-12">
                        <div class="columns is-multiline border-r">
                          <span class="column is-12">{{ formatString(user_info.comments) }}</span>
                          <span class="column desc"> {{ $store.getters.lang.comments }} </span>
                        </div>
                      </div>

                    </div>
                </div>


                <!-- skills section -->
                <!-- <div class="column is-12 p-r-20 p-l-20">
                  <divider> {{ $store.getters.lang.skills }} </divider>
                </div>

                <div v-if="no_more_skills && skills.length == 0" class="column is-12 text-center p-t-50 p-b-50 m-b-50 profile_empty_message">
                  <span> {{ $store.getters.lang.did_not_pass_more_test_message }} </span>
                </div>

                <div v-for="skill in skills" class="column is-12">
                  <circle-stat :skill="{text: (skill.value*100) , name : skill.name,  progress , value: skill.value}" :progress_obj="progress"></circle-stat>
                </div>
                <div v-if="no_more_skills && skills.length != 0" class="column is-12">
                  <p> {{ $store.getters.lang.did_not_pass_more_test_message }}  </p>
                </div>
                <div v-if="!no_more_skills && skills.length != 0" class="column text-center is-12">
                  <a class="smallUnderlinedText text-center" @click="getMoreSkills()"> {{ $store.getters.lang.show_more }}  </a>
                </div> -->

              </div>


            </div>
          </div>

          <div class="column is-7">
              <questions :user_id="$route.params.id"></questions>
          </div>

          <div class="column is-2 p-t-0 p-r-0">
            <latest-commented-posts></latest-commented-posts>
          </div>

          <!-- <div class="column is-2">
            <div class="loginDiv">

            </div>
          </div> -->

        </div>
      </div>
    </div>
    <!-- v-if="$store.getters.user.id != null && active_edit_buttons" -->
    <hamza-toast v-if="this.$route.params.id == $store.getters.user.id" ref="hamzaToast" @cancel="cancelChanges"  @click="sendToDB()" text=" هل تود حفظ التعديلات ؟ " PrimaryButton="نعم" LightButton="إلغاء"></hamza-toast>
    <div v-if="this.$route.params.id == $store.getters.user.id" class="bottom-div-edit-button" dir="rtl">
        <span @click="openChangeButtons()" style="text-decoration:none !important;"> <span class="p-r-5"> {{ $store.getters.lang.change_my_account_data }}  </span></span>
    </div>

  </div>
</template>

<script>

var progress = require('progressbar.js');
export default {
  data(){
    return {
      progress,
      skills : [],
      route: null,
      no_more_skills : false,
      active_edit_buttons : false,
      route_updated : false,
      name : null,
      origin_path : window.location.origin,
      profile_img : null,
      user_info : {
        description : '...',
        country : '...',
        maxim : '...',
        links : [],
      },
      user_info_copy: {
        description : '...',
        country : '...',
        maxim : '...',
        links : []
      },
    }
  },
  beforeUpdate(){
    if(this.$route.params.id != this.route) {
      window.scrollTo(0, 0);
      this.route = this.$route.params.id;
      this.getMoreSkills();
      this.getUserInfo();
      this.active_edit_buttons = false;
      this.no_more_skills = false;
    }
  },
  mounted(){
    this.route = this.$route.params.id;
    // this.getMoreSkills();
    this.getUserInfo();
  },
  filters: {
    prepareLink: function(value){
      if(value.length > 30) return value.slice(0,30)+'...';
      return value;
    },
  },

  watch: {
    user_info_copy: function(val,old_val){
      if(old_val.description != '...')
        this.user_info_copy = old_val;
    }
  },

  methods: {
    formatString(value){
      if(value == 0) return 0;
      else if(value < 1000) return value;

      value = ''+value+'';
      let new_value = '';
      for (var i = 0; i < value.length-1; i++) {
        if((i%3)== 0) new_value += value.charAt(i)+',';
        else new_value += value.charAt(i);
      }
      return new_value;
    },
    sendToDB(){
      let object;
      object = this.user_info;
      object.name = this.name;
      object.links = this.user_info.links;
      object.links = JSON.stringify(object.links);
      axios.post('/save-user-info',object)
        .then(res => {
          this.$refs.hamzaToast.cancel();
          this.$snackbar.open({
              duration: 5000,
              message: ' لقد قمت الآن بتغيير بياناتك الشخصية! ',
              type: 'is-success',
              position: 'is-bottom-right',
              actionText: 'إغلاق',
              onAction: () => {
                  this.$snackbar.close();
              }
          });
        });
    },

    cancelChanges(){
      this.user_info = this.user_info_copy;
    },

    openChangeButtons(){
      this.active_edit_buttons = true;
    },

    getMoreSkills(){
      axios.get('/get-skills/'+this.$route.params.id+'/'+this.skills.length)
        .then(res => {
          if(res.data.length == 0) this.no_more_skills = true;
          this.skills = this.skills.concat(res.data);
        });
    },

    getUserInfo(){
      axios.get('/ger-user-info/'+this.$route.params.id).then(res => {
        // console.log(res.data);
        // this.profile_img = 'https://www.gravatar.com/avatar/'+JSON.parse(res.data[0]).profile_img+'?d='+window.location.origin+'/images/default-user.png';
        this.profile_img = 'https://www.gravatar.com/avatar/'+JSON.parse(res.data[0]).profile_img+'?d=https://i.suar.me/varoL/l';
        this.name = JSON.parse(res.data[0]).name;
        // if(this.$route.params.name != this.name) this.$router.push('/users/'+this.$route.params.id+'/'+this.name);
        if(res.data[1] != undefined) {
          this.user_info = res.data[1];
          // this.user_info.links = JSON.parse(res.data[1].links);
          this.user_info_copy = res.data[1];
          // this.user_info_copy.links = JSON.parse(res.data[1].links);
        }
      });
    },

    prompt(prompt_message,prompt_placeholder,target) {
      let interval = setInterval( () => {
        //
        if(document.getElementsByClassName('dialog modal')[0] != undefined){
          document.getElementsByClassName('dialog modal')[0].children[1].children[1].children[0].innerText = ' إلغاء ';
          document.getElementsByClassName('dialog modal')[0].children[1].children[1].children[1].innerText = ' حفظ ';

          // opening textarea
          if(target == 'description' || target == 'mixim'){
            document.getElementsByClassName('dialog modal')[0].children[1].children[0].children[0].children[0].children[1].children[0].children[0].value = 'some text';
            document.getElementsByClassName('dialog modal')[0].children[1].children[0].children[0].children[0].children[1].children[0].children[0].style.opacity = 0;
            let txt = document.createElement('textarea');
            txt.setAttribute('autofocus','true');
            // affecting a value to textarea
            if(target == 'description') txt.value = this.user_info.description;
            else txt.value = this.user_info.mixim;
            document.getElementsByClassName('dialog modal')[0].children[1].children[0].children[0].children[0].children[1].children[0].append(txt);
          }

          clearInterval(interval);
        }
      },1);
        this.$dialog.prompt({
            message: prompt_message,
            inputAttrs: {
                placeholder: prompt_placeholder
            },
            onConfirm: (value) => {
              switch (target) {
                case 'name':
                  this.name = value;
                  break;
                case 'description':
                  this.user_info.description = document.getElementsByClassName('dialog modal')[0].children[1].children[0].children[0].children[0].children[1].children[0].children[1].value;
                  break;
                case 'country':
                  this.user_info.country = value;
                  break;
                case 'mixim':
                  this.user_info.mixim = document.getElementsByClassName('dialog modal')[0].children[1].children[0].children[0].children[0].children[1].children[0].children[1].value;
                  break;
                case 'links':
                  this.user_info.links.push(value);
                  break;
              }
              document.getElementsByClassName('hamza-toast')[0].style.bottom = '50px';
            }
        });
    },

  }
}

</script>
