<template>
    <div>

        <nav-component></nav-component>
        <br><br><br><br><br>
        <div class="container text-center" dir="rtl">
            <b-message width="250px" type="is-success" class="nextCaseWarning" dir="rtl">
                قمنا بإرسال رابط تفعيل الحساب الى بريدك الإلكتروني
            </b-message>
            <router-link to="/#"> عودة إلى الصفحة الرئيسية </router-link>
        </div>

    </div>
</template>
